<div class="form-group">
  <label for="endpointJdbcURL" class="col-lg-2 control-label">JDBC URL</label>
  <div class="col-lg-10">
    <input name="endpointJdbcURL" type="text" class="form-control" ng-model="teststep.endpoint.url"
           ng-change="isInShareEndpointMode() ? angular.noop() : autoSave(teststepForm.$valid)" spellcheck="false"
           id="endpointJdbcURL" ng-readonly="appStatus.isForbidden() ||
             (!isInShareEndpointMode() && teststep.endpoint.environment)">
  </div>
</div>

<div ng-include="'/ui/views/teststeps/edit-endpoint-details-username-password.html'"></div>