<div class="form-group"></div> <!-- spacer -->
<div class="form-group">
  <div class="col-lg-11">
    <label for="jdbcURL" class="col-lg-2 control-label">JDBC URL</label>
    <div class="col-lg-6">
      <input name="jdbcURL" type="text" class="form-control" ng-change="autoSave(teststepForm.$valid)"
             ng-model="teststep.endpoint.url" id="jdbcURL"
             ng-readonly="teststep.endpoint.environment">  <!-- readonly when it is a managed endpoint -->
    </div>
    <div class="col-lg-1">
      <button type="button" class="btn btn-info" ng-click="invoke()" ng-disabled="!teststep.endpoint ||
            steprun.status === 'ongoing'">Invoke</button>
    </div>
    <div class="col-lg-3">       <!-- Test step run status message -->
      <h5 ng-if="steprun.status === 'ongoing'">Running the statement(s) ...</h5>
      <h5 ng-if="steprun.status === 'finished'">Statement(s) successfully run.</h5>
    </div>
  </div>
</div>
<div class="form-group form-group-reduced-bottom-margin" height-adjustable-element-in-column="0.8">
  <div class="col-lg-12 full-height">
    <textarea name="request" ng-model="teststep.request" ng-change="autoSave(teststepForm.$valid)"
              id="request" placeholder="SQL Select/Insert/Delete/Update Statement(s)"
              class="form-control full-height-important"></textarea>
  </div>
</div>

<div class="form-group form-group-reduced-bottom-margin" id="invocationResultArea">
  <div class="col-lg-12" ng-if="steprun.response">
    <!-- SQL select result set -->
    <uib-tabset ng-if="activeTabIndex === 2 && steprun.response.rows">
      <uib-tab heading="Grid View">
        <div class="form-group"></div> <!-- spacer -->
        <div ui-grid="responseOptions" ui-grid-resize-columns ui-grid-move-columns class="ui-grid dbresponse-grid"></div>
      </uib-tab>
      <uib-tab heading="JSON View">
        <div class="form-group"></div> <!-- spacer -->
        <textarea class="form-control" rows="9">{{ steprun.response.rows }}</textarea>
      </uib-tab>
    </uib-tabset>

    <!-- SQL insert/delete/update log(s) -->
    <textarea ng-if="!steprun.response.rows" ng-model="steprun.response.statementExecutionResults"
              class="form-control background-color-inherit" rows="9" readonly></textarea>

    <div ng-init="invocationResultAreaLoadedCallback()"></div>
  </div>
</div>

<div class="form-group" ng-if="false">
  <div class="col-lg-12">
    <div class="row" ng-controller="DBTeststepAssertionsController">
      <div ng-if="activeTabIndex === 2" ui-grid="assertionsModelObj.gridOptions" ui-grid-resize-columns
           ui-grid-move-columns ui-grid-edit class="ui-grid assertions-grid"></div>
    </div>
  </div>
  <script type="text/ng-template" id="assertionGridNameEditableCellTemplate.html">
    <div class="ui-grid-cell-contents">
      <div>
        <input type="text" class="form-control" maxlength="200" ui-grid-editor ng-model="row.entity.name"
               ng-change="grid.appScope.assertionsModelObj.autoSave(true)"
               ng-init="grid.appScope.assertionsModelObj.assertion = row.entity">
      </div>
    </div>
  </script>
  <script type="text/ng-template" id="assertionGridValueEditableCellTemplate.html">
    <div class="ui-grid-cell-contents">
      <div>
        <input type="text" class="form-control" maxlength="200" ui-grid-editor ng-model="row.entity.otherProperties.value"
               ng-change="grid.appScope.assertionsModelObj.autoSave(true)"
               ng-init="grid.appScope.assertionsModelObj.assertion = row.entity">
      </div>
    </div>
  </script>
  <script type="text/ng-template" id="assertionGridDeleteCellTemplate.html">
    <div class="ui-grid-cell-contents">
      <div><a ng-click="grid.appScope.assertionsModelObj.remove(row.entity)" href="">
        <i class="glyphicon glyphicon-trash center-block text-center"></i></a></div>
    </div>
  </script>
</div>
<div class="form-group form-group-reduced-bottom-margin" id="assertionsArea">
  <div class="col-lg-12 assertions-area-content" ng-if="showAssertionsArea"
       ng-include="'/ui/views/teststeps/db/list-assertions.html'">
  </div>
</div>
<div class="form-group no-bottom-margin">
  <div class="col-lg-2">
    <button type="button" class="btn btn-info" ng-click="toggleAssertionsArea()">Assertions</button>
  </div>
</div>
