<div class="form-group"></div> <!-- spacer -->
<div class="form-group">
  <div class="col-lg-10">
    <label for="jdbcURL" class="col-lg-2 control-label">JDBC URL</label>
    <div class="col-lg-7">
      <input name="jdbcURL" type="text" class="form-control" ng-change="autoSave(teststepForm.$valid)"
             ng-model="teststep.endpoint.url" id="jdbcURL"
             ng-readonly="teststep.endpoint.environment">  <!-- readonly when it is a managed endpoint -->
    </div>
    <div class="col-lg-1">
      <button type="button" class="btn btn-info" ng-click="invoke()">Invoke</button>
    </div>
  </div>
</div>
<div class="form-group">
  <div class="col-lg-12">
    <textarea name="request" ng-model="teststep.request" ng-change="autoSave(teststepForm.$valid)"
        id="request" rows="18" placeholder="Request" class="form-control"></textarea>
  </div>
</div>
<div class="form-group" ng-if="invocationResponse">
  <div class="col-lg-12">
    <div ng-if="activeTabIndex === 2 && invocationResponse.resultSet" ui-grid="responseOptions" ui-grid-resize-columns
         ui-grid-move-columns class="ui-grid dbresponse-grid"></div>
    <textarea ng-if="!invocationResponse.resultSet" ng-model="nonSelectStatementsExecutionResult"
         class="form-control background-color-inherit" rows="9" readonly></textarea>
  </div>
</div>
<div class="form-group" ng-if="false">
  <div class="col-lg-12">
    <div class="row" ng-controller="DBTeststepAssertionsController">
      <div ng-if="activeTabIndex === 2" ui-grid="assertionsModelObj.gridOptions" ui-grid-resize-columns
           ui-grid-move-columns ui-grid-edit class="ui-grid assertions-grid"></div>
    </div>
  </div>
  <script type="text/ng-template" id="assertionGridNameEditableCellTemplate.html">
    <div class="ui-grid-cell-contents">
      <div>
        <input type="text" class="form-control" maxlength="200" ui-grid-editor ng-model="row.entity.name"
               ng-change="grid.appScope.assertionsModelObj.autoSave(true)"
               ng-init="grid.appScope.assertionsModelObj.assertion = row.entity">
      </div>
    </div>
  </script>
  <script type="text/ng-template" id="assertionGridValueEditableCellTemplate.html">
    <div class="ui-grid-cell-contents">
      <div>
        <input type="text" class="form-control" maxlength="200" ui-grid-editor ng-model="row.entity.otherProperties.value"
               ng-change="grid.appScope.assertionsModelObj.autoSave(true)"
               ng-init="grid.appScope.assertionsModelObj.assertion = row.entity">
      </div>
    </div>
  </script>
  <script type="text/ng-template" id="assertionGridDeleteCellTemplate.html">
    <div class="ui-grid-cell-contents">
      <div><a ng-click="grid.appScope.assertionsModelObj.remove(row.entity)" href="">
        <i class="glyphicon glyphicon-trash center-block text-center"></i></a></div>
    </div>
  </script>
</div>
<div class="form-group" ng-if="false">
  <div class="col-lg-1">
    <button type="button" class="btn btn-info" ng-click="evaluateDataSet()">Verify</button>
  </div>
</div>
