<div class="form-group form-group-reduced-bottom-margin"></div> <!-- smaller spacer -->

<div class="form-group">
  <label for="method" class="col-lg-1 control-label">Method</label>
  <div class="col-lg-1">
    <select name="method" id="method" class="form-control" ng-model="httpStub.spec.request.method"
            ng-change="methodChanged(httpStubForm.$valid)" ng-disabled="appStatus.isForbidden()">
      <option value="GET">GET</option>
      <option value="POST">POST</option>
      <option value="PUT">PUT</option>
      <option value="DELETE">DELETE</option>
    </select>
  </div>
  <div class="required" ng-class="{ 'has-error' : submitted && httpStubForm.url.$invalid }">
    <label for="url" class="col-lg-1 control-label">URL</label>
    <div class="col-lg-6">
      <input id="url" name="url" type="text" class="form-control" ng-change="requestURLChanged(httpStubForm.$valid)"
             ng-model="httpStubModelObject.requestURL" spellcheck="false" ng-readonly="appStatus.isForbidden()" required>
      <div ng-show="submitted && httpStubForm.url.$invalid" class="help-block">
        <p ng-show="httpStubForm.url.$error.required">URL is required</p>
      </div>
    </div>
    <div class="col-lg-2 checkbox">
      <label>
        <input type="checkbox" ng-model="isRequestURLRegexMatching"
               ng-change="toggleRequestURLRegexMatching(httpStubForm.$valid)"
               ng-disabled="appStatus.isForbidden()">Regex Matching
      </label>
    </div>
  </div>
  <div class="col-lg-1 pull-right btn-group" uib-dropdown keyboard-nav>
    <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle>
      <i class="fa fa-list"></i> <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu">
      <li role="menuitem" ng-class="{'disabled': appStatus.isForbidden()}">
        <a ng-click="appStatus.isForbidden() ? $event.stopPropagation() : toggleDelayResponse(httpStubForm.$valid)" href="">
          <i class="fa {{ httpStub.spec.response.hasOwnProperty('fixedDelayMilliseconds') ? 'fa-check-square-o' : 'fa-square-o' }}"></i> Delay Response
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="form-group">
  <div class="col-lg-2">
    <label class="control-label">Request</label>
  </div>
  <div class="col-lg-offset-4 col-lg-2">
    <label for="responseStatusCode" class="control-label">Response Status Code</label>
  </div>
  <div class="col-lg-1 no-left-padding" style="margin-left: -50px"
       ng-class="{ 'has-error' : submitted && httpStubForm.responseStatusCode.$invalid }">
    <input id="responseStatusCode" name="responseStatusCode" class="form-control" type="text" maxlength="3"
           pattern="[1-9]\d*" ng-model="httpStub.spec.response.status" ng-change="autoSave(httpStubForm.$valid)"/>
    <div ng-show="submitted && httpStubForm.responseStatusCode.$invalid" class="help-block">
      <p ng-show="httpStubForm.responseStatusCode.$error.pattern">Please enter a valid number</p>
    </div>
  </div>
  <div class="col-lg-offset-1 col-lg-1">
    <label for="fixedDelayMilliseconds" class="control-label"
           ng-if="httpStub.spec.response.hasOwnProperty('fixedDelayMilliseconds')">Delay (ms)</label>
  </div>
  <div class="col-lg-1 no-left-padding"
       ng-class="{ 'has-error' : submitted && httpStubForm.fixedDelayMilliseconds.$invalid }">
    <input id="fixedDelayMilliseconds" name="fixedDelayMilliseconds" class="form-control" type="text" pattern="\d*"
           ng-model="httpStub.spec.response.fixedDelayMilliseconds" ng-change="autoSave(httpStubForm.$valid)"
           ng-if="httpStub.spec.response.hasOwnProperty('fixedDelayMilliseconds')"/>
    <div ng-show="submitted && httpStubForm.fixedDelayMilliseconds.$invalid" class="help-block">
      <p ng-show="httpStubForm.fixedDelayMilliseconds.$error.pattern">Please enter a valid number</p>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="col-lg-6">
    <div ui-grid="requestHeaderGridOptions" ui-grid-resize-columns ui-grid-selection ui-grid-edit
         class="ui-grid http-stub-header-grid"></div>
  </div>
  <div class="col-lg-6">
    <div ui-grid="responseHeaderGridOptions" ui-grid-resize-columns ui-grid-selection ui-grid-edit
         class="ui-grid http-stub-header-grid"></div>
  </div>
</div>

<div class="form-group">
  <div class="col-lg-6">
    <div class="form-group">
      <div class="col-lg-1">
        <label for="requestBodyMainPatternName" class="control-label" ng-if="requestBodyApplicable()">Body</label>
      </div>
      <div class="col-lg-3">
        <!-- This is the 'main' request body pattern, like 'equalToJson'. Additional request body patterns like 'ignoreArrayOrder' are complementary to the 'main' pattern. -->
        <select name="requestBodyMainPatternName" id="requestBodyMainPatternName" class="form-control"
                ng-model="requestBodyMainPattern.name" ng-disabled="appStatus.isForbidden()"
                ng-change="requestBodyMainPatternNameChanged(httpStubForm.$valid)"
                ng-if="requestBodyApplicable()">
          <option value="any">Can be Any</option>
          <option value="equalToXml">Equal to XML</option>
          <option value="equalToJson">Equal to JSON</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-12">
        <textarea id="requestBodyMainPatternValue" name="requestBodyMainPatternValue" rows="26" class="form-control"
              ng-model="httpStub.requestBodyMainPatternValue" ng-change="autoSave(httpStubForm.$valid)"
              spellcheck="false" ng-readonly="appStatus.isForbidden()" ng-if="requestBodyMainPattern.name && requestBodyMainPattern.name !== 'any'"></textarea>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <textarea id="responseBody" name="responseBody" rows="28" ng-model="httpStub.spec.response.body"
              placeholder="Response Body" class="form-control" spellcheck="false"
              ng-readonly="appStatus.isForbidden()" ng-change="autoSave(httpStubForm.$valid)"></textarea>
  </div>
</div>

<script type="text/ng-template" id="headerGridEditableCellTemplate.html">
  <div class="ui-grid-cell-contents">
    <input type="text" class="form-control" ui-grid-editor ng-model="MODEL_COL_FIELD" spellcheck="false"
           ng-readonly="grid.appScope.appStatus.isForbidden()">
  </div>
</script>