<div ng-controller="EndpointsController" data-ng-init="findOne()">
    <div class="row">
        <h3 class="page-header">Endpoint Detail</h3>
    </div>
    <form name="endpointForm" class="form-horizontal col-md-10" ng-submit="create_update(endpointForm)">
        <p><medium ng-show="endpoint.updated">Last updated at {{endpoint.updated | date:'dd-MM-yyyy HH:mm:ss'}}</medium></p>
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
        <div sf-schema="schema" sf-form="form" sf-model="endpoint" ></div>
        <div class="col-md-offset-2 col-md-2">
            <button type="submit" class="btn btn-success btn-block">Save</button>
        </div>
        <div class="col-md-offset-4 col-md-2">
            <button type="button" class="btn btn-warning btn-block" ng-click="remove(endpoint)">Delete</button>
        </div>
    </form>
</div>
