<div ng-controller="EndpointsController" ng-init="find()">
    <div class="row">
        <h3 class="page-header">Endpoints</h3>
    </div>
    <div class="row">
        <div class="col-md-2">
            <p><button class="btn btn-info btn-block" ui-sref="endpoint_create">Create</button></p>
        </div>
    </div>
    <div class="row">
        <div ui-grid="{paginationPageSizes: [10,20,50,100], paginationPageSize: 10, enableFiltering: true, data: endpoints, columnDefs: columnDefs}"
             ui-grid-pagination ui-grid-resize-columns ui-grid-move-columns class="ui-grid"></div>
    </div>
    <script type="text/ng-template" id="gridCellTemplate.html">
        <div class="ui-grid-cell-contents">
            <div><a ui-sref="endpoint_edit({ endpointId: row.entity.id })">{{COL_FIELD}}</a></div>
        </div>
    </script>
</div>
