<div ng-controller="StubRequestController" ng-init="find()">
  <div class="row page-header" id="page-header">
    <div class="col-lg-7">
      <h3><div>Stub request {{ stubRequest.request.loggedDate | date: 'MMM d, y h:mm:ss.sss a' }}</div></h3>
    </div>
  </div>
  <div class="row">
    <form name="stubRequestForm" class="form-horizontal col-lg-12" role="form" novalidate>
      <div class="form-group">
        <div class="col-lg-1">Method:</div>
        <div class="col-lg-1">{{ stubRequest.request.method }}</div>
        <div class="col-lg-2">Absolute URL:</div>
        <div class="col-lg-8">{{ stubRequest.request.absoluteUrl }}</div>
      </div>
      <div class="form-group">
        <div class="col-lg-1">Client IP:</div>
        <div class="col-lg-1">{{ stubRequest.request.clientIp }}</div>
        <div class="col-lg-offset-4 col-lg-2">Response Status Code:</div>
        <div class="col-lg-1">{{ stubRequest.response.status }}</div>
        <div ng-if="stubRequest.timing.addedDelay > 0">
          <div class="col-lg-2">Response Delayed (ms):</div>
          <div class="col-lg-1">{{ stubRequest.timing.addedDelay }}</div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-2">Request Headers:</div>
        <div class="col-lg-offset-4 col-lg-2">Response Headers:</div>
      </div>
      <div class="form-group">
        <div class="col-lg-6">
          <textarea name="requestHeaders" rows="8" class="form-control" readonly>{{ stubRequestHeadersStr }}</textarea>
        </div>
        <div class="col-lg-6">
          <textarea name="responseHeaders" rows="8" class="form-control" readonly>{{ stubResponseHeadersStr }}</textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-2">Request Body:</div>
        <div class="col-lg-offset-4 col-lg-2">Response Body:</div>
      </div>
      <div class="form-group">
        <div class="col-lg-6">
          <textarea name="requestBody" id="requestBody" rows="28" class="form-control" readonly>{{ stubRequest.request.body }}</textarea>
        </div>
        <div class="col-lg-6">
          <textarea name="responseBody" id="responseBody" rows="28" class="form-control" readonly>{{ stubRequest.response.body }}</textarea>
        </div>
      </div>
    </form>
  </div>
</div>

