<div ng-controller="SOAPTeststepCreationController">
  <div class="row">
    <div>
      <h3 class="page-header">Create SOAP Test Step</h3>
    </div>
  </div>
  <div class="row">
    <form name="teststepForm" class="form-horizontal col-lg-9" role="form" ng-submit="create(teststepForm.$valid)" novalidate>
      <div class="form-group" ng-class="{ 'has-error' : submitted && teststepForm.name.$invalid }">
        <label for="name" class="col-lg-2 control-label">Name</label>
        <div class="col-lg-10">
          <input name="name" type="text" class="form-control" ng-model="name" id="name"
              placeholder="Invoke and verify SOAP service" maxlength="200" required>
          <div ng-show="submitted && teststepForm.name.$invalid" class="help-block">
            <p ng-show="teststepForm.name.$error.required">Name is required</p>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="description" class="col-lg-2 control-label">Description</label>
        <div class="col-lg-10">
          <textarea name="description" ng-model="description" id="description" cols="30" rows="10"
              placeholder="Description" class="form-control"></textarea>
        </div>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : submitted && teststepForm.wsdlUrl.$invalid }">
        <label for="wsdlUrl" class="col-lg-2 control-label">WSDL URL</label>
        <div class="col-lg-8">
          <input name="wsdlUrl" type="text" class="form-control" ng-model="wsdlUrl" id="wsdlUrl"
                 placeholder="http://localhost:8081/soap/article?wsdl" required>
          <div ng-show="submitted && teststepForm.wsdlUrl.$invalid" class="help-block">
            <p ng-show="teststepForm.wsdlUrl.$error.required">WSDL URL is required</p>
          </div>
        </div>
        <div class="col-lg-1">
          <button type="button" class="btn btn-info" ng-click="loadWsdl()">Load</button>
        </div>
      </div>
      <div class="form-group">
        <label for="wsdlBinding" class="col-lg-2 control-label">WSDL Binding</label>
        <div class="col-lg-10">
          <select name="wsdlBinding" id="wsdlBinding" class="form-control" ng-model="wsdlBinding"
              ng-options="item.name for item in wsdlBindings" ng-change="refreshOperations()"></select>
        </div>
      </div>
      <div class="form-group">
        <label for="wsdlOperation" class="col-lg-2 control-label">WSDL Operation</label>
        <div class="col-lg-10">
          <select name="wsdlOperation" id="wsdlOperation" class="form-control" ng-model="wsdlOperation"
              ng-options="item for item in wsdlOperations"></select>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-offset-6">
          <button type="submit" class="btn btn-info">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>