<div ng-controller="SOAPTeststepEditController">
  <form name="teststepForm" class="form-horizontal" role="form" novalidate>
    <uib-tabset active="2">
      <uib-tab heading="Basic Info">
        <div class="form-group"></div> <!-- spacer -->
        <div class="col-lg-9">
          <div class="form-group required" ng-class="{ 'has-error' : savingStatus.submitted && teststepForm.name.$invalid }">
            <label for="name" class="col-lg-2 control-label">Name</label>
            <div class="col-lg-10">
              <input name="name" type="text" class="form-control" ng-model="teststep.name"
                     ng-change="autoSave(teststepForm.$valid)" id="name" placeholder="Name" maxlength="200" required>
              <div ng-show="savingStatus.submitted && teststepForm.name.$invalid" class="help-block">
                <p ng-show="teststepForm.name.$error.required">Name is required</p>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="description" class="col-lg-2 control-label">Description</label>
            <div class="col-lg-10">
              <textarea name="description" ng-model="teststep.description" ng-change="autoSave(teststepForm.$valid)"
                        id="description" cols="30" rows="10" placeholder="Description" class="form-control"></textarea>
            </div>
          </div>
        </div>
      </uib-tab>
      <uib-tab heading="Endpoint Details">
        <div class="form-group"></div> <!-- spacer -->
        <div class="col-lg-9">
          <div class="form-group">
            <div class="col-lg-offset-2 col-lg-2">
              <button type="button" class="btn btn-info" ng-click="shareEndpoint()">Share Endpoint</button>
            </div>
            <div class="col-lg-2">
              <button type="button" class="btn btn-info" ng-click="selectManagedEndpoint('SOAP')">Select Managed Endpoint</button>
            </div>
          </div>
          <div class="form-group required" ng-if="teststep.endpoint.environment">
            <label for="endpointEnvironment" class="col-lg-2 control-label">Environment</label>
            <div class="col-lg-10">
              <select ng-if="environments" name="endpointEnvironment" id="endpointEnvironment" class="form-control"
                      ng-model="teststep.endpoint.environment" ng-options="item.name for item in environments"></select>
              <input ng-if="!environments && teststep.endpoint.environment" name="endpointEnvironmentName" type="text"
                     class="form-control" ng-model="teststep.endpoint.environment.name" id="endpointEnvironmentName"
                     maxlength="200" readonly>
            </div>
          </div>
          <div class="form-group required" ng-if="teststep.endpoint.environment"
               ng-class="{ 'has-error' : savingStatus.submitted && teststepForm.endpointName.$invalid }">
            <label for="endpointName" class="col-lg-2 control-label">Name</label>
            <div class="col-lg-10">
              <input name="endpointName" type="text" class="form-control" ng-model="teststep.endpoint.name"
                     ng-change="autoSave(teststepForm.$valid)" id="endpointName" maxlength="200" required
                     ng-readonly="!environments && teststep.endpoint.environment">
              <div ng-show="savingStatus.submitted && teststepForm.endpointName.$invalid" class="help-block">
                <p ng-show="teststepForm.endpointName.$error.required">Name is required</p>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="endpointDescription" class="col-lg-2 control-label">Description</label>
            <div class="col-lg-10">
              <textarea name="endpointDescription" ng-model="teststep.endpoint.description"
                        ng-change="autoSave(teststepForm.$valid)" id="endpointDescription" cols="30" rows="6"
                        class="form-control"
                        ng-readonly="teststep.endpoint.environment"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label for="endpointSOAPAddress" class="col-lg-2 control-label">SOAP Address</label>
            <div class="col-lg-10">
              <input name="endpointSOAPAddress" type="text" class="form-control"
                     ng-model="teststep.endpoint.url" ng-change="autoSave(teststepForm.$valid)"
                     id="endpointSOAPAddress" maxlength="500"
                     ng-readonly="teststep.endpoint.environment">
            </div>
          </div>
          <div class="form-group">
            <label for="endpointUsername" class="col-lg-2 control-label">Username</label>
            <div class="col-lg-10">
              <input name="endpointUsername" type="text" class="form-control"
                     ng-model="teststep.endpoint.username"
                     ng-change="autoSave(teststepForm.$valid)" id="endpointUsername" maxlength="200"
                     ng-readonly="teststep.endpoint.environment">
            </div>
          </div>
          <div class="form-group">
            <label for="endpointPassword" class="col-lg-2 control-label">Password</label>
            <div class="col-lg-10">
              <input name="endpointPassword" type="password" class="form-control"
                     ng-model="teststep.endpoint.password"
                     ng-change="autoSave(teststepForm.$valid)" id="endpointPassword" maxlength="200"
                     ng-readonly="teststep.endpoint.environment">
            </div>
          </div>
        </div>
      </uib-tab>
      <uib-tab heading="Request Response">
        <div ng-include="'/ui/views/teststeps/soap/edit-soap-teststep-request-response.html'"></div>
      </uib-tab>
    </uib-tabset>
  </form>
</div>