<div class="row" ng-controller="AssertionsController" ng-init="assertionsModelObj.findAll()">
  <div class="col-lg-4">
    <div class="form-group">
      <div class="btn-group col-lg-4" dropdown is-open="status.isopen">
        <button type="button" class="btn btn-info dropdown-toggle" dropdown-toggle ng-disabled="disabled">
          Create <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a ng-click="assertionsModelObj.createContainsAssertion()" href="">Contains</a></li>
          <li><a href="">XPath</a></li>
        </ul>
      </div>
      <div class="col-lg-4">
        <button type="button" class="btn btn-info" ng-disabled="!assertionsModelObj.assertion">Assert</button>
      </div>
    </div>
    <div class="row">
      <div ui-grid="assertionsModelObj.gridOptions" ui-grid-resize-columns ui-grid-move-columns
           class="ui-grid col-lg-12 assertions-grid"></div>
    </div>
  </div>
  <div class="col-lg-8" ng-if="assertionsModelObj.showAssertionDetails">
    <div class="form-group" ng-class="{ 'has-error' : $parent.savingStatus.submitted && teststepForm.assertionName.$invalid }">
      <label for="assertionName" class="col-lg-2 control-label">Assertion Name</label>
      <div class="col-lg-9">
        <input name="assertionName" type="text" class="form-control" ng-model="assertionsModelObj.assertion.name"
               ng-change="assertionsModelObj.autoSave(teststepForm.$valid)" id="assertionName" placeholder="Name" maxlength="200" required>
        <div ng-show="$parent.savingStatus.submitted && teststepForm.assertionName.$invalid" class="help-block">
          <p ng-show="teststepForm.assertionName.$error.required">Assertion Name is required</p>
        </div>
      </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error' : $parent.savingStatus.submitted && teststepForm.assertionContains.$invalid }">
      <label for="assertionContains" class="col-lg-2 control-label">Contains</label>
      <div class="col-lg-9">
            <textarea name="assertionContains" ng-model="assertionsModelObj.assertion.properties.contains" id="assertionContains"
                      cols="10" rows="5" ng-change="assertionsModelObj.autoSave(teststepForm.$valid)" placeholder="Value"
                      class="form-control" required></textarea>
        <div ng-show="$parent.savingStatus.submitted && teststepForm.assertionContains.$invalid" class="help-block">
          <p ng-show="teststepForm.assertionContains.$error.required">Contains is required</p>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/ng-template" id="assertionGridNameCellTemplate.html">
  <div class="ui-grid-cell-contents">
    <div><a ng-click="grid.appScope.assertionsModelObj.edit(row.entity)" href="">{{COL_FIELD}}</a>
    </div>
  </div>
</script>
<script type="text/ng-template" id="assertionGridDeleteCellTemplate.html">
  <div class="ui-grid-cell-contents">
    <div><a ng-click="grid.appScope.assertionsModelObj.remove(row.entity)" href="">
      <i class="glyphicon glyphicon-trash center-block text-center"></i></a></div>
  </div>
</script>
<div ng-init="assertionsAreaLoadedCallback()"></div>