<div class="form-group tab-top-spacer"></div>
<div class="form-group">
  <div class="col-lg-10">
    <label for="soapAddress" class="col-lg-2 control-label">Endpoint</label>
    <div class="col-lg-7">
      <input name="endpoint" type="text" class="form-control" ng-if ="teststep.endpointId" ng-model="teststep.endpoint.name" id="endpoint" readonly>
      <input name="soapAddress" type="text" class="form-control" ng-if ="! teststep.endpointId" ng-model="teststep.properties.soapAddress"
          ng-change="autoSave(teststepForm.$valid)" id="soapAddress" placeholder="SOAP Address">
    </div>
    <div class="btn-group col-lg-2" dropdown>
      <button type="button" class="btn btn-info" dropdown-toggle>
        Go to <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li ng-show="teststep.endpointId">
          <a href="" ng-click="goto('endpoint_edit', {endpointId: teststep.endpointId})">Endpoint Details</a>
        </li>
        <li><a href="" ng-click="goto('endpoint_all', null, 'endpoint')">Endpoint List</a></li>
        <li><a href="" ng-click="goto('endpoint_create', null, 'endpoint')">A New Endpoint</a></li>
      </ul>
    </div>
    <div class="col-lg-1">
      <button type="button" class="btn btn-info" ng-click="invoke(teststep)">Invoke</button>
    </div>
  </div>
</div>
<div class="form-group" request-response-textareas>
  <div ng-if="teststep.type==='SOAP'" class="col-lg-6 full-height">
    <textarea name="request" ng-model="teststep.request" ng-change="autoSave(teststepForm.$valid)"
        id="request" placeholder="Request" class="form-control full-height-important"></textarea>
  </div>
  <div ng-if="teststep.type==='SOAP'" class="col-lg-6 full-height">
    <textarea name="response" ng-model="tempData.response" id="response" placeholder="Response"
        class="form-control full-height-important"></textarea>
  </div>
  <div ng-if="teststep.type!=='SOAP'" class="col-lg-12">
    <textarea name="request" ng-model="teststep.request" ng-change="autoSave(teststepForm.$valid)"
        id="request_db" placeholder="Request" class="form-control"></textarea>
  </div>
  <div ng-if="teststep.type!=='SOAP'" class="col-lg-12">
    <div ui-grid="response_dbOptions" ui-grid-resize-columns ui-grid-move-columns class="ui-grid dbresponse-grid"></div>
  </div>
</div>
<div class="form-group" id="assertionsArea">
  <div class="col-lg-12 assertions-area-content" ng-if="showAssertionsArea"
      ng-include="'/ui/views/assertions/listAndEdit.html'">
  </div>
</div>
<div class="form-group">
  <div class="col-lg-2">
    <button type="button" class="btn btn-info" id="assertionAreaToggleButton">Assertions</button>
  </div>
</div>
