<div ng-controller="TeststepsController" ng-init="findOne()">
  <div class="row" id="page-header">
    <h3 class="page-header">Test Step - {{teststep.name}}
      <label class="col-lg-offset-1" irt-successful-message></label>
      <small>Last edit at {{teststep.updated | date:'medium'}}</small>
      <label class="back-link"><a ui-sref="testcase_edit({testcaseId: teststep.testcaseId})">Back</a>                    </label>
    </h3>
  </div>
  <form name="teststepForm" class="form-horizontal" role="form" novalidate>
    <uib-tabset active="activeTabIndex">
      <uib-tab heading="Basic Info">
        <div class="form-group"></div> <!-- spacer -->
        <div class="col-lg-9">
          <div class="form-group required" ng-class="{ 'has-error' : savingStatus.submitted && teststepForm.name.$invalid }">
            <label for="name" class="col-lg-2 control-label">Name</label>
            <div class="col-lg-10">
              <input name="name" type="text" class="form-control" ng-model="teststep.name"
                     irt-select="{{ activeTabIndex === 0 && teststepNewlyCreated() }}"
                     ng-change="autoSave(teststepForm.$valid)" id="name" placeholder="Name" maxlength="200" required>
              <div ng-show="savingStatus.submitted && teststepForm.name.$invalid" class="help-block">
                <p ng-show="teststepForm.name.$error.required">Name is required</p>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="description" class="col-lg-2 control-label">Description</label>
            <div class="col-lg-10">
              <textarea name="description" ng-model="teststep.description" ng-change="autoSave(teststepForm.$valid)"
                  id="description" cols="30" rows="10" placeholder="Description" class="form-control"></textarea>
            </div>
          </div>
        </div>
      </uib-tab>
      <uib-tab heading="Endpoint Details">
        <div class="form-group"></div> <!-- spacer -->
        <div class="col-lg-9">
          <div ng-include="'/ui/views/teststeps/edit-endpoint-details-basic-info.html'"></div>
          <div ng-if="teststep.type === 'SOAP'"
               ng-include="'/ui/views/teststeps/soap/edit-soap-teststep-endpoint-details.html'"></div>
          <div ng-if="teststep.type === 'DB'"
               ng-include="'/ui/views/teststeps/db/edit-db-teststep-endpoint-details.html'"></div>
          <div ng-include="'/ui/views/teststeps/edit-endpoint-details-lower-part.html'"></div>
        </div>
      </uib-tab>
      <uib-tab heading="Invocation">
        <div ng-if="teststep.type === 'SOAP'"
             ng-include="'/ui/views/teststeps/soap/edit-soap-teststep-invocation.html'"
             ng-controller="SOAPTeststepController"></div>
        <div ng-if="teststep.type === 'DB'"
             ng-include="'/ui/views/teststeps/db/edit-db-teststep-invocation.html'"
             ng-controller="DBTeststepController"></div>
      </uib-tab>
    </uib-tabset>
  </form>
</div>
