<div ng-controller="TeststepsController" ng-init="findOne()">
  <div>
    <div class="row" id="page-header">
      <h3 class="page-header">Test Step - {{teststep.name}}
        <label class="col-lg-offset-1" irt-successful-message></label>
        <small>Last edit at {{teststep.updated | date:'medium'}}</small>
        <label class="back-link"><a ui-sref="testcase_edit({testcaseId: teststep.testcaseId})">Back</a>                    </label>
      </h3>
    </div>
    <div ng-if="teststep.type === 'SOAP'"
         ng-include="'/ui/views/teststeps/soap/edit-soap-teststep.html'"></div>
    <div ng-if="teststep.type === 'DB'"
         ng-include="'/ui/views/teststeps/db/edit-db-teststep.html'"></div>
  </div>
</div>
