<div class="form-group"></div> <!-- spacer -->
<div class="col-lg-9">
  <div class="form-group required" ng-class="{ 'has-error' : savingStatus.submitted && teststepForm.name.$invalid }">
    <label for="name" class="col-lg-2 control-label">Name</label>
    <div class="col-lg-10">
      <input name="name" id="name" type="text" class="form-control" ng-model="teststep.name"
             irt-select="{{ activeTabIndex === 0 && teststepNewlyCreated() }}"
             ng-change="autoSave(teststepForm.$valid)" ng-readonly="appStatus.isForbidden()" required>
      <div ng-show="savingStatus.submitted && teststepForm.name.$invalid" class="help-block">
        <p ng-show="teststepForm.name.$error.required">Name is required</p>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="description" class="col-lg-2 control-label">Description</label>
    <div class="col-lg-10">
      <textarea name="description" id="description" class="form-control" rows="20" ng-model="teststep.description"
                ng-change="autoSave(teststepForm.$valid)" ng-readonly="appStatus.isForbidden()"></textarea>
    </div>
  </div>
</div>