<div class="form-group">
  <label for="endpointUsername" class="col-lg-2 control-label">Username</label>
  <div class="col-lg-10">
    <input id="endpointUsername" name="endpointUsername" type="text" class="form-control"
           ng-model="teststep.endpoint.username"
           ng-change="isInShareEndpointMode() ? angular.noop() : autoSave(teststepForm.$valid)"
           ng-readonly="appStatus.isForbidden() || (!isInShareEndpointMode() && teststep.endpoint.environment)"
           spellcheck="false">
  </div>
</div>
<div class="form-group">
  <label for="endpointPassword" class="col-lg-2 control-label">Password</label>
  <div class="col-lg-10">
    <input id="endpointPassword" name="endpointPassword" type="password" class="form-control"
           ng-model="teststep.endpoint.password"
           ng-change="isInShareEndpointMode() ? angular.noop() : autoSave(teststepForm.$valid)"
           ng-readonly="appStatus.isForbidden() || (!isInShareEndpointMode() && teststep.endpoint.environment)">
  </div>
</div>