<div class="form-group no-left-margin"
     ng-class="{ 'has-error' : savingStatus.submitted && teststepForm.assertionJSONPath.$invalid }">
  <div class="col-lg-1 text-right">
    <div class="form-group"></div>
    <div class="form-group"></div>
    <div class="form-group">
      <label for="assertionJSONPath" class="control-label">JSONPath</label>
    </div>
  </div>
  <div class="col-lg-8">
    <textarea name="assertionJSONPath" ng-model="assertionsModelObj.assertion.otherProperties.jsonPath"
              id="assertionJSONPath" rows="3" class="form-control" ng-readonly="appStatus.isForbidden()"
              ng-change="assertionsModelObj.autoSave(teststepForm.$valid)" spellcheck="false">
    </textarea>
  </div>
</div>
<div class="form-group no-bottom-margin no-left-margin">
  <div>
    <div class="col-lg-1">
      <div class="form-group"></div>
      <div class="form-group"></div>
      <div class="form-group">
        <label for="expectedXML" class="control-label">Expected XML</label>
      </div>
    </div>
    <div class="col-lg-5 no-right-padding">
      <textarea name="expectedXML" ng-model="assertionsModelObj.assertion.otherProperties.expectedXML"
                id="expectedXML" rows="6" class="form-control" ng-readonly="appStatus.isForbidden()"
                ng-change="assertionsModelObj.autoSave(teststepForm.$valid)" spellcheck="false">
      </textarea>
    </div>
  </div>
  <div class="col-lg-1">
    <div class="form-group"></div>
    <div class="form-group"></div>
    <div class="form-group no-right-margin">
      <label for="actualXML" class="control-label">Actual XML</label>
    </div>
  </div>
  <div class="col-lg-5 no-left-padding">
    <textarea name="actualXML" id="actualXML" rows="6" class="form-control"
              ng-class="{ 'text-red' : assertionsModelObj.assertionVerificationResults[assertionsModelObj.assertion.id].error }" readonly>{{
        $parent.assertionsModelObj.assertionVerificationResults[$parent.assertionsModelObj.assertion.id].error ?
        $parent.assertionsModelObj.assertionVerificationResults[$parent.assertionsModelObj.assertion.id].error :
        $parent.assertionsModelObj.assertionVerificationResults[$parent.assertionsModelObj.assertion.id].actualXML }}</textarea>
  </div>
</div>