<div class="form-group no-left-margin">
  <div class="col-lg-1 text-right">
    <div class="form-group"></div>
    <div class="form-group"></div>
    <div class="form-group">
      <label for="assertionXPath" class="control-label">XPath</label>
    </div>
  </div>
  <div class="col-lg-6">
    <textarea name="assertionXPath" ng-model="assertionsModelObj.assertion.otherProperties.xPath"
              id="assertionXPath" rows="4" class="form-control" ng-readonly="appStatus.isForbidden()"
              ng-change="assertionsModelObj.autoSave(teststepForm.$valid)" spellcheck="false">
    </textarea>
  </div>
  <div class="col-lg-5 no-left-padding">
    <div ui-grid="assertionsModelObj.xPathNamespacePrefixesGridOptions" ui-grid-resize-columns ui-grid-move-columns
         ui-grid-edit ui-grid-selection class="ui-grid xpath-assertion-namespace-prefixes-grid"></div>
  </div>
</div>
<div class="form-group no-bottom-margin no-left-margin">
  <div>
    <div class="col-lg-1">
      <div class="form-group"></div>
      <div class="form-group"></div>
      <div class="form-group">
        <label for="assertionXPathExpectedValue" class="control-label">Expected Value</label>
      </div>
    </div>
    <div class="col-lg-5 no-right-padding">
      <textarea name="assertionXPathExpectedValue" ng-model="assertionsModelObj.assertion.otherProperties.expectedValue"
                id="assertionXPathExpectedValue" rows="6" class="form-control" ng-readonly="appStatus.isForbidden()"
                ng-change="assertionsModelObj.autoSave(teststepForm.$valid)" spellcheck="false">
      </textarea>
    </div>
  </div>
  <div class="col-lg-1">
    <div class="form-group"></div>
    <div class="form-group"></div>
    <div class="form-group no-right-margin">
      <label for="assertionXPathActualValue" class="control-label">Actual Value</label>
    </div>
  </div>
  <div class="col-lg-5 no-left-padding">
    <textarea name="assertionXPathActualValue" id="assertionXPathActualValue" rows="6" class="form-control"
              ng-class="{ 'text-red' : assertionsModelObj.assertionVerificationResults[assertionsModelObj.assertion.id].error }" readonly>{{
        $parent.assertionsModelObj.assertionVerificationResults[$parent.assertionsModelObj.assertion.id].error ?
        $parent.assertionsModelObj.assertionVerificationResults[$parent.assertionsModelObj.assertion.id].error :
        $parent.assertionsModelObj.assertionVerificationResults[$parent.assertionsModelObj.assertion.id].actualValue }}</textarea>
  </div>
</div>
<script type="text/ng-template" id="namespacePrefixGridEditableCellTemplate.html">
  <div class="ui-grid-cell-contents">
    <input type="text" class="form-control" ui-grid-editor ng-model="MODEL_COL_FIELD" spellcheck="false"
           ng-readonly="grid.appScope.appStatus.isForbidden()">
  </div>
</script>