<div class="form-group required"
     ng-class="{ 'has-error' : $parent.savingStatus.submitted && teststepForm.assertionContains.$invalid }">
  <label for="assertionContains" class="col-lg-2 control-label">Contains</label>
  <div class="col-lg-10">
    <textarea name="assertionContains" ng-model="assertionsModelObj.assertion.otherProperties.contains"
              id="assertionContains" cols="10" rows="5" class="form-control" placeholder="Value"
              ng-change="assertionsModelObj.autoSave(teststepForm.$valid)" required>
    </textarea>
    <div ng-show="$parent.savingStatus.submitted && teststepForm.assertionContains.$invalid" class="help-block">
      <p ng-show="teststepForm.assertionContains.$error.required">Contains is required</p>
    </div>
  </div>
</div>