<div class="form-group no-left-margin required"
     ng-class="{ 'has-error' : $parent.savingStatus.submitted && teststepForm.assertionXPath.$invalid }">
  <div class="col-lg-1 text-right">
    <div class="form-group"></div>
    <div class="form-group"></div>
    <div class="form-group">
      <label for="assertionXPath" class="control-label">XPath</label>
    </div>
  </div>
  <div class="col-lg-6">
    <textarea name="assertionXPath" ng-model="assertionsModelObj.assertion.properties.xPath"
              id="assertionXPath" rows="5" class="form-control" placeholder="XPath"
              ng-change="assertionsModelObj.autoSave(teststepForm.$valid)" required>
    </textarea>
    <div ng-show="$parent.savingStatus.submitted && teststepForm.assertionXPath.$invalid" class="help-block">
      <p ng-show="teststepForm.assertionXPath.$error.required">XPath is required</p>
    </div>
  </div>
  <!-- use z-index here to avoid namespace prefix grid menu to be partially overridden -->
  <div class="col-lg-5 no-left-padding" style="z-index: 1">
    <div ui-grid="assertionsModelObj.xPathNamespacePrefixesGridOptions" ui-grid-resize-columns ui-grid-move-columns
         ui-grid-edit ui-grid-selection class="ui-grid xpath-assertion-namespace-prefixes-grid"></div>
  </div>
</div>
<div class="form-group no-bottom-margin no-left-margin required"
     ng-class="{ 'has-error' : $parent.savingStatus.submitted && teststepForm.assertionContains.$invalid }">
  <div class="col-lg-1">
    <div class="form-group"></div>
    <div class="form-group"></div>
    <div class="form-group">
      <label for="assertionXPathExpectedValue" class="control-label">Expected Value</label>
    </div>
  </div>
  <div class="col-lg-5 no-right-padding">
    <textarea name="assertionXPathExpectedValue" ng-model="assertionsModelObj.assertion.properties.expectedValue"
              id="assertionXPathExpectedValue" rows="6" class="form-control" placeholder="Expected value"
              ng-change="assertionsModelObj.autoSave(teststepForm.$valid)" required>
    </textarea>
    <div ng-show="$parent.savingStatus.submitted && teststepForm.assertionXPathExpectedValue.$invalid" class="help-block">
      <p ng-show="teststepForm.assertionXPathExpectedValue.$error.required">Expected Value is required</p>
    </div>
  </div>
  <div class="col-lg-1">
    <div class="form-group"></div>
    <div class="form-group"></div>
    <div class="form-group no-right-margin">
      <label for="assertionXPathActualValue" class="control-label">Actual Value</label>
    </div>
  </div>
  <div class="col-lg-5 no-left-padding">
    <textarea name="assertionXPathActualValue" id="assertionXPathActualValue" rows="6"
              ng-model="assertionsModelObj.tempData.assertionXPathActualValue"
              class="form-control background-color-inherit"
              ng-class="{ 'text-red' : assertionsModelObj.tempData.assertionXPathActualValueError }"
              readonly>
    </textarea>
  </div>
</div>
<script type="text/ng-template" id="namespacePrefixGridPrefixEditableCellTemplate.html">
  <div class="ui-grid-cell-contents">
    <div>
      <input type="text" class="form-control" maxlength="200" ui-grid-editor ng-model="row.entity.prefix"
             ng-change="grid.appScope.assertionsModelObj.autoSave(true)">
    </div>
  </div>
</script>
<script type="text/ng-template" id="namespacePrefixGridNamespaceEditableCellTemplate.html">
  <div class="ui-grid-cell-contents">
    <div>
      <input type="text" class="form-control" maxlength="200" ui-grid-editor ng-model="row.entity.namespace"
             ng-change="grid.appScope.assertionsModelObj.autoSave(true)">
    </div>
  </div>
</script>