<div class="form-group">
  <label for="username" class="col-lg-2 control-label">Username</label>
  <div class="col-lg-10">
    <input id="username" name="username" type="text" class="form-control" ng-model="endpoint.username"
           ng-change="autoSave(endpointForm.$valid)" spellcheck="false" ng-readonly="appStatus.isForbidden()">
  </div>
</div>
<div class="form-group">
  <label for="password" class="col-lg-2 control-label">Password</label>
  <div class="col-lg-10">
    <input id="password" name="password" type="password" class="form-control" ng-model="endpoint.password"
           ng-change="autoSave(endpointForm.$valid)" ng-readonly="appStatus.isForbidden()">
  </div>
</div>