<div ng-controller="FoldersController" ng-init="findOne()">
  <div class="row page-header" id="page-header">
    <div class="col-lg-7 page-header-part1">
      <h3><div>Folder - {{folder.name}}</div></h3>
    </div>
    <div class="col-lg-2 page-header-part2">
      <h4><label irt-successful-message></label></h4>
    </div>
  </div>
  <div class="row">
    <form name="folderForm" class="form-horizontal col-lg-10" role="form" novalidate>
      <div class="form-group">
        <label for="description" class="col-lg-2 control-label">Description</label>
        <div class="col-lg-10">
          <textarea name="description" ng-model="folder.description" id="description" rows="30"
                    ng-change="autoSave(folderForm.$valid)" class="form-control"
                    ng-readonly="appStatus.isForbidden()"></textarea>
        </div>
      </div>
    </form>
  </div>
</div>

