<div class="form-group"></div> <!-- spacer -->
<div class="form-group">
  <label for="queueManagerAddress" class="col-lg-2 control-label">Broker Address</label>
  <div class="col-lg-7">
    <input type="text" name="queueManagerAddress" id="queueManagerAddress" class="form-control" readonly
           value="{{teststep.endpoint.otherProperties.queueManagerAddress}}">
  </div>
</div>
<div class="form-group">
  <label for="integrationServerName" class="col-lg-2 control-label">Execution Group</label>
  <div class="col-lg-7">
    <input name="integrationServerName" type="text" class="form-control" ng-change="autoSave(teststepForm.$valid)"
           ng-model="teststep.otherProperties.integrationServerName" id="integrationServerName" spellcheck="false">
  </div>
</div>
<div class="form-group">
  <label for="messageFlowName" class="col-lg-2 control-label">Message Flow</label>
  <div class="col-lg-7">
    <input name="messageFlowName" type="text" class="form-control" ng-change="autoSave(teststepForm.$valid)"
           ng-model="teststep.otherProperties.messageFlowName" id="messageFlowName" spellcheck="false">
  </div>
</div>
<div class="form-group">
  <label for="action" class="col-lg-2 control-label">Action</label>
  <div class="col-lg-2">
    <select name="action" id="action" class="form-control" ng-model="teststep.action"
            ng-change="actionChanged(teststepForm.$valid)" ng-disabled="steprun.status === 'ongoing'">
      <option value="Start">Start</option>
      <option value="Stop">Stop</option>
    </select>
  </div>
  <div class="col-lg-1">
    <button type="button" class="btn btn-info" ng-click="doAction()"
            ng-disabled="!teststep.otherProperties.integrationServerName || !teststep.otherProperties.messageFlowName ||
            !teststep.action || steprun.status === 'ongoing'">Do</button>
  </div>
  <div class="col-lg-4">       <!-- Action run status message -->
    <h5 ng-if="steprun.status === 'ongoing'">
      {{ teststep.action === 'Start' ? 'Starting' : 'Stopping' }} message flow ...</h5>
    <h5 ng-if="steprun.status === 'finished'">
      Message flow {{ teststep.action === 'Start' ? 'started' : 'stopped' }}.</h5>
  </div>
</div>
