<div class="form-group"></div> <!-- spacer -->
<div class="form-group">
  <label for="integrationNodeAddress" class="col-lg-2 control-label">Integration Node Address</label>
  <div class="col-lg-7">
    <input type="text" name="integrationNodeAddress" id="integrationNodeAddress" class="form-control" readonly
           ng-model="teststep.endpoint.constructedUrl">
  </div>
</div>
<div class="form-group">
  <label for="integrationServerName" class="col-lg-2 control-label">Integration Server</label>
  <div class="col-lg-7">
    <input name="integrationServerName" type="text" class="form-control" ng-change="autoSave(teststepForm.$valid)"
           ng-model="teststep.otherProperties.integrationServerName" id="integrationServerName" spellcheck="false"
           ng-readonly="appStatus.isForbidden()">
  </div>
</div>
<div class="form-group">
  <label for="applicationName" class="col-lg-2 control-label">Application</label>
  <div class="col-lg-7">
    <input name="applicationName" type="text" class="form-control" ng-change="autoSave(teststepForm.$valid)"
           ng-model="teststep.otherProperties.applicationName" id="applicationName" spellcheck="false"
           ng-readonly="appStatus.isForbidden()">
  </div>
</div>
<div class="form-group">
  <label for="messageFlowName" class="col-lg-2 control-label">Message Flow</label>
  <div class="col-lg-7">
    <input name="messageFlowName" type="text" class="form-control" ng-change="autoSave(teststepForm.$valid)"
           ng-model="teststep.otherProperties.messageFlowName" id="messageFlowName" spellcheck="false"
           ng-readonly="appStatus.isForbidden()">
  </div>
</div>
<div class="form-group">
  <label for="action" class="col-lg-2 control-label">Action</label>
  <div class="col-lg-3">
    <select name="action" id="action" class="form-control" ng-model="teststep.action"
            ng-change="actionChanged(teststepForm.$valid)"
            ng-disabled="appStatus.isForbidden() || steprun.status === 'ongoing'">
      <option value="Start">Start</option>
      <option value="Stop">Stop</option>
      <option value="WaitForProcessingCompletion">Wait For Processing Completion</option>
    </select>
  </div>
  <div class="col-lg-1">
    <button type="button" class="btn btn-info btn-block" ng-click="doAction()"
            ng-disabled="appStatus.isForbidden() || endpointInfoIncomplete() || actionInfoIncomplete() ||
              teststep.action === 'WaitForProcessingCompletion' || steprun.status === 'ongoing'">Do</button>
  </div>
  <div class="col-lg-4">       <!-- Action run status message -->
    <h5 ng-if="steprun.status === 'ongoing'">
      {{ teststep.action === 'Start' ? 'Starting' : 'Stopping' }} message flow ...</h5>
    <h5 ng-if="steprun.status === 'finished'">{{ steprun.infoMessage }}</h5>
  </div>
</div>

<div ng-if="teststep.action === 'WaitForProcessingCompletion'">
  <div class="form-group" ng-class="{ 'has-error': savingStatus.submitted && teststepForm.waitForProcessingCompletionTimeout.$invalid }">
    <label for="waitForProcessingCompletionTimeout" class="col-lg-2 control-label no-left-padding">Timeout (seconds)</label>
    <div class="col-lg-7">
      <input name="waitForProcessingCompletionTimeout" id="waitForProcessingCompletionTimeout" type="text" class="form-control"
             pattern="^[1-9]\d*$" ng-model="teststep.otherProperties.waitForProcessingCompletionTimeout"
             ng-change="autoSave(teststepForm.$valid)" ng-readonly="appStatus.isForbidden()">
      <div ng-show="savingStatus.submitted && teststepForm.waitForProcessingCompletionTimeout.$invalid" class="help-block">
        <p ng-show="teststepForm.waitForProcessingCompletionTimeout.$error.pattern">Timeout must be a positive integer</p>
      </div>
    </div>
  </div>
</div>