<div ng-controller="TestcasesController" ng-init="findOne()">
  <div class="row">
    <div>
      <h3 class="page-header">Test Case Details
        <label class="col-md-offset-1 failure-message" ng-show="saveSuccessful !== null && !saveSuccessful">Failed to save: {{savingErrorMessage}}</label>
        <label class="col-md-offset-1" successful-message ng-class="{ 'successful-message-animation' : saveSuccessful }">Successfully saved</label>
        <small ng-show="testcase.updated">Last edit at {{testcase.updated | date:'medium'}}</small>
      </h3>
    </div>
  </div>
  <div class="row">
    <form name="testcaseForm" class="form-horizontal col-md-6" role="form" ng-submit="create_update(testcaseForm.$valid)" novalidate>
      <div class="form-group" ng-class="{ 'has-error' : submitted && testcaseForm.title.$invalid }">
        <label for="name" class="col-md-2 control-label">Name</label>
        <div class="col-md-10">
          <input name="name" type="text" class="form-control" ng-model="testcase.name" id="name" placeholder="Name" maxlength="200" required>
          <div ng-show="submitted && testcaseForm.name.$invalid" class="help-block">
            <p ng-show="testcaseForm.name.$error.required">Name is required</p>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="description" class="col-md-2 control-label">Description</label>
        <div class="col-md-10">
          <textarea name="description" ng-model="testcase.description" id="description" cols="30" rows="10" placeholder="Description" class="form-control"></textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-offset-5">
          <button type="submit" class="btn btn-info">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>