<div ng-controller="TestcasesController" ng-init="findOne()">
  <div class="row">
    <div>
      <h3 class="page-header">Test Case - {{testcase.name}}
        <label class="col-lg-offset-1 failure-message" ng-show="saveSuccessful !== null && !saveSuccessful">
          Failed to save. {{savingErrorMessage}}
        </label>
        <label class="col-lg-offset-1" successful-message ng-class="{ 'successful-message-animation' : saveSuccessful }">
          Successfully saved
        </label>
        <small>Last edit at {{testcase.updated | date:'medium'}}</small>
        <label class="back-link"><a ui-sref="testcase_all">Back</a>                    </label>
      </h3>
    </div>
  </div>
  <tabset>
    <tab heading="Test Steps">
      <div class="form-group"></div>
      <div class="row">
        <div class="form-group">
          <div class="btn-group col-lg-2" dropdown is-open="status.isopen">
            <button type="button" class="btn btn-info dropdown-toggle" dropdown-toggle ng-disabled="disabled">
              Create <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a ui-sref="teststep_create_soap({testcaseId: testcase.id})">SOAP Test Step</a></li>
              <li><a ui-sref="teststep_create_db({testcaseId: testcase.id})">Database Test Step</a></li>
              <li><a href="#">HTTP Test Step</a></li>
              <li><a href="#">MQ Queue Test Step</a></li>
            </ul>
          </div>
          <div class="col-lg-1">
            <button class="btn btn-info" href="" ng-click="run()">Run</button>
          </div>
        </div>
      </div>
      <div class="form-group"></div>
      <div class="row">
        <div ui-grid="{enableFiltering: true, data: testcase.teststeps, columnDefs: teststepColumnDefs}"
             ui-grid-resize-columns ui-grid-move-columns class="ui-grid"></div>
      </div>
    </tab>
    <tab heading="Basic Info">
      <form name="testcaseForm" class="form-horizontal col-lg-6" role="form" novalidate>
        <div class="form-group"></div>
        <div class="form-group" ng-class="{ 'has-error' : submitted && testcaseForm.name.$invalid }">
          <label for="name" class="col-lg-2 control-label">Name</label>
          <div class="col-lg-10">
            <input name="name" type="text" class="form-control" ng-model="testcase.name"
                ng-change="autoSave(testcaseForm.$valid)" id="name" placeholder="Name" maxlength="200" required>
            <div ng-show="submitted && testcaseForm.name.$invalid" class="help-block">
              <p ng-show="testcaseForm.name.$error.required">Name is required</p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="description" class="col-lg-2 control-label">Description</label>
          <div class="col-lg-10">
            <textarea name="description" ng-model="testcase.description" ng-change="autoSave(testcaseForm.$valid)"
                id="description" cols="30" rows="10" placeholder="Description" class="form-control"></textarea>
          </div>
        </div>
      </form>
    </tab>
  </tabset>

  <script type="text/ng-template" id="teststepGridNameCellTemplate.html">
    <div class="ui-grid-cell-contents">
      <div>
        <a ui-sref="teststep_edit({ testcaseId: row.entity.testcaseId, teststepId: row.entity.id })">{{COL_FIELD}}</a>
      </div>
    </div>
  </script>
  <script type="text/ng-template" id="teststepGridIntfaceCellTemplate.html">
    <div class="ui-grid-cell-contents">
      <div ng-if="row.entity.intfaceId">
        <a ng-click="grid.appScope.goto('intface_edit', {intfaceId: row.entity.intfaceId})" href="">{{COL_FIELD}}</a>
      </div>
      <div ng-if="! row.entity.intfaceId">Quick SOAP Test</div>
    </div>
  </script>
  <script type="text/ng-template" id="teststepGridDeleteCellTemplate.html">
    <div class="ui-grid-cell-contents">
      <div>
        <a ng-click="grid.appScope.removeTeststep(row.entity)" href="">
          <i class="glyphicon glyphicon-trash center-block text-center"></i>
        </a>
      </div>
    </div>
  </script>
  <script type="text/ng-template" id="teststepGridResultCellTemplate.html">
    <div class="ui-grid-cell-contents">
      <div>
        <div ng-if="row.entity.result">
          <div ng-if="row.entity.result.error">Failed</div>
          <div ng-if="!row.entity.result.error">Successful</div>
        </div>
      </div>
    </div>
  </script>
</div>