<div ng-controller="TestcasesController" ng-init="findOne()">
  <div class="row">
    <h3 class="page-header">Test Case - {{testcase.name}}
      <label class="col-lg-offset-1" irt-successful-message></label>
      <small>Last edit at {{testcase.updated | date:'medium'}}</small>
      <label class="back-link"><a ui-sref="testcase_all">Back</a>                    </label>
    </h3>
  </div>
  <uib-tabset active="1">
    <uib-tab heading="Basic Info">
      <form name="testcaseForm" class="form-horizontal col-lg-9" role="form" novalidate>
        <div class="form-group"></div> <!-- spacer -->
        <div class="form-group required" ng-class="{ 'has-error' : submitted && testcaseForm.name.$invalid }">
          <label for="name" class="col-lg-2 control-label">Name</label>
          <div class="col-lg-10">
            <input name="name" type="text" class="form-control" ng-model="testcase.name"
                   ng-change="autoSave(testcaseForm.$valid)" id="name" placeholder="Name" maxlength="200" required>
            <div ng-show="submitted && testcaseForm.name.$invalid" class="help-block">
              <p ng-show="testcaseForm.name.$error.required">Name is required</p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="description" class="col-lg-2 control-label">Description</label>
          <div class="col-lg-10">
            <textarea name="description" ng-model="testcase.description" ng-change="autoSave(testcaseForm.$valid)"
                      id="description" cols="30" rows="10" placeholder="Description" class="form-control"></textarea>
          </div>
        </div>
      </form>
    </uib-tab>
    <uib-tab heading="Test Steps">
      <div class="form-group"></div> <!-- spacer -->
      <div class="row">
        <div class="form-group">
          <div class="btn-group col-lg-2" uib-dropdown keyboard-nav>
            <button type="button" class="btn btn-info dropdown-toggle" uib-dropdown-toggle ng-disabled="disabled">
              Create <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu">
              <li role="menuitem"><a ui-sref="teststep_create_soap({testcaseId: testcase.id})">SOAP Test Step</a></li>
              <li role="menuitem"><a ui-sref="teststep_create_db({testcaseId: testcase.id})">Database Test Step</a></li>
              <li role="menuitem"><a href="#">HTTP Test Step</a></li>
              <li role="menuitem"><a href="#">MQ Queue Test Step</a></li>
            </ul>
          </div>
          <div class="col-lg-1">
            <button class="btn btn-info" href="" ng-click="run()">Run</button>
          </div>
        </div>
      </div>
      <div class="form-group"></div> <!-- spacer -->
      <div class="row">
        <div ui-grid="{enableFiltering: true, data: testcase.teststeps, columnDefs: teststepGridColumnDefs}"
             ui-grid-resize-columns ui-grid-move-columns class="ui-grid"></div>
      </div>
    </uib-tab>
  </uib-tabset>

  <script type="text/ng-template" id="teststepGridNameCellTemplate.html">
    <div class="ui-grid-cell-contents">
      <div>
        <a ui-sref="teststep_edit({ testcaseId: row.entity.testcaseId, teststepId: row.entity.id })">{{COL_FIELD}}</a>
      </div>
    </div>
  </script>
  <script type="text/ng-template" id="teststepGridDeleteCellTemplate.html">
    <div class="ui-grid-cell-contents">
      <div>
        <a ng-click="grid.appScope.removeTeststep(row.entity)" href="">
          <i class="glyphicon glyphicon-trash center-block text-center"></i>
        </a>
      </div>
    </div>
  </script>
  <script type="text/ng-template" id="teststepGridResultCellTemplate.html">
    <div class="ui-grid-cell-contents">
      <div ng-if="grid.appScope.failedTeststepIds.indexOf(row.entity.id) === -1">Successful</div>
      <div ng-if="grid.appScope.failedTeststepIds.indexOf(row.entity.id) > -1">Failed</div>
    </div>
  </script>
</div>