<div ng-controller="TestcasesController" ng-init="find()">
  <div class="row">
    <div>
      <h3 class="page-header">Test Cases</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <button class="btn btn-info btn-block" style="margin-bottom: 20px" ui-sref="testcase_create">Create</button>
    </div>
  </div>
  <div class="row">
    <div ui-grid="{paginationPageSizes: [10,20,50,100], paginationPageSize: 20, enableFiltering: true, data: testcases, columnDefs: columnDefs}"
         ui-grid-pagination ui-grid-resize-columns ui-grid-move-columns class="ui-grid testcase-grid"></div>
  </div>

  <script type="text/ng-template" id="testcaseGridNameCellTemplate.html">
    <div class="ui-grid-cell-contents">
      <div><a ui-sref="testcase_edit({ testcaseId: row.entity.id })">{{COL_FIELD}}</a></div>
    </div>
  </script>
  <script type="text/ng-template" id="testcaseGridDeleteCellTemplate.html">
    <div class="ui-grid-cell-contents">
      <div><a ng-click="grid.appScope.remove(row.entity)" href=""><i class="glyphicon glyphicon-trash center-block text-center"></i></a></div>
    </div>
  </script>
</div>