<div class="form-group">
  <label for="messageFrom" class="col-lg-2 control-label">Message From</label>
  <div class="col-lg-2">
    <select name="messageFrom" id="messageFrom" class="form-control"
            ng-model="teststep.requestType" ng-change="update(teststepForm.$valid)"
            ng-disabled="appStatus.isForbidden() || steprun.status === 'ongoing'">
      <option value="Text">Text</option>
      <option value="File">File</option>
    </select>
  </div>
  <div ng-if="teststep.requestType === 'Text'">
    <div class="col-lg-2 checkbox">
      <label>
        <input type="checkbox" ng-model="includeRfh2Header" ng-change="toggleRFH2Header(teststepForm.$valid)"
               ng-disabled="appStatus.isForbidden()">Include RFH2 Header
      </label>
    </div>
    <div class="col-lg-2" ng-if="includeRfh2Header">
      <button type="button" class="btn btn-info" ng-click="addRFH2Folder(teststepForm.$valid)"
              ng-disabled="appStatus.isForbidden()">Add RFH2 Folder</button>
    </div>
    <div class="col-lg-2" ng-if="includeRfh2Header">
      <button type="button" class="btn btn-info" ng-click="deleteRFH2Folder(teststepForm.$valid)"
              ng-disabled="appStatus.isForbidden() || textMessageActiveTabIndex === 0 ||
                teststep.otherProperties.rfh2Header.folders.length === 1">Delete RFH2 Folder</button>
    </div>
  </div>
</div>

<!-- There is no element addition/removal in column requirement on this view.
    Use the height-adjustable-element-in-column directive only to give the <div> an initial fixed height, so that the
    full-height class on the embedded <div> can be effective . -->
<div class="form-group" ng-if="teststep.requestType === 'Text'" height-adjustable-element-in-column="0.7">
  <div class="col-lg-10 full-height">
    <uib-tabset active="textMessageTabs.activeIndex" class="mq-message-details-tabset">
      <uib-tab index="0" heading="Body">
        <div class="col-lg-12">
          <textarea class="form-control" ng-model="teststep.request" spellcheck="false"
                    ng-change="autoSave(teststepForm.$valid)" ng-readonly="appStatus.isForbidden()"></textarea>
        </div>
      </uib-tab>
      <uib-tab index="$index + 1" ng-repeat="folder in teststep.otherProperties.rfh2Header.folders" heading="{{ folder.name }}">
        <div class="col-lg-12">
          <textarea ng-model="folder.string" ng-change="autoSaveRFH2Folder(teststepForm.$valid)" class="form-control"
                    ng-readonly="appStatus.isForbidden()" spellcheck="false"></textarea>
        </div>
      </uib-tab>
    </uib-tabset>
  </div>
</div>

<div ng-if="teststep.requestType === 'File'">
  <div class="form-group"></div> <!-- spacer -->
  <div class="form-group"></div> <!-- spacer -->
  <div class="form-group"></div> <!-- spacer -->
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-1">
      <button type="file" class="btn btn-info" ngf-select="uploadRequestFile($file)" ngf-max-size="30MB"
              ng-disabled="appStatus.isForbidden()">Select File</button>
    </div>
    <div class="col-lg-1" ng-if="teststep.requestFilename">
      <button type="button" class="btn btn-info" ng-click="downloadRequestFile()">Download File</button>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-7" ng-if="teststep.requestFilename">
      <h5>{{teststep.requestFilename}}</h5>
    </div>
  </div>
</div>
