<div class="form-group">
  <label for="messageFrom" class="col-lg-2 control-label">Message From</label>
  <div class="col-lg-2">
    <select name="messageFrom" id="messageFrom" class="form-control"
            ng-model="teststep.requestType" ng-change="update(teststepForm.$valid)"
            ng-disabled="steprun.status === 'ongoing'">
      <option value="Text">Text</option>
      <option value="File">File</option>
    </select>
  </div>
  <div ng-if="teststep.requestType === 'Text'">
    <div class="col-lg-2 checkbox">
      <label>
        <input type="checkbox" ng-model="teststep.otherProperties.rfh2Header.enabled"
               ng-change="toggleRFH2Header(teststepForm.$valid)">Include RFH2 Header
      </label>
    </div>
    <div class="col-lg-2" ng-if="teststep.otherProperties.rfh2Header.enabled">
      <button type="button" class="btn btn-info" ng-click="addRFH2Folder(teststepForm.$valid)">Add RFH2 Folder</button>
    </div>
    <div class="col-lg-2" ng-if="teststep.otherProperties.rfh2Header.enabled">
      <button type="button" class="btn btn-info" ng-click="deleteRFH2Folder(teststepForm.$valid)"
              ng-disabled="textMessageActiveTabIndex === 0 ||
                teststep.otherProperties.rfh2Header.folders.length === 1">Delete RFH2 Folder</button>
    </div>
  </div>
</div>

<div class="form-group" ng-if="teststep.requestType === 'Text'">
  <div class="col-lg-10">
    <ul class="nav nav-tabs">
      <li ng-class="{ 'active' : textMessageActiveTabIndex === 0 }" ng-click="textMessageTabSelected(0)">
        <a data-toggle="tab" href="#textMessageTab0" target="_self">Body</a>
      </li>
      <li ng-if="teststep.otherProperties.rfh2Header.enabled"
          ng-repeat="folder in teststep.otherProperties.rfh2Header.folders track by $index + 1"
          ng-class="{ 'active' : textMessageActiveTabIndex === $index + 1 }"
          ng-click="textMessageTabSelected($index + 1)">
        <a data-toggle="tab" href="#textMessageTab{{$index + 1}}" target="_self">{{folder.name}}</a>
      </li>
    </ul>
    <div class="tab-content">
      <div id="textMessageTab0" class="tab-pane" ng-class="{ 'active' : textMessageActiveTabIndex === 0 }">
        <div class="form-group"></div> <!-- spacer -->
        <div class="col-lg-12">
            <textarea ng-model="teststep.request" ng-change="autoSave(teststepForm.$valid)" class="form-control"
                      rows="23" spellcheck="false"></textarea>
        </div>
      </div>
      <div ng-if="teststep.otherProperties.rfh2Header.enabled" id="textMessageTab{{$index + 1}}"
           class="tab-pane" ng-class="{ 'active' : textMessageActiveTabIndex === $index + 1 }"
           ng-repeat="folder in teststep.otherProperties.rfh2Header.folders track by $index + 1">
        <div class="form-group"></div> <!-- spacer -->
        <div class="col-lg-12">
            <textarea ng-model="folder.string" ng-change="autoSave(teststepForm.$valid)" class="form-control" rows="23"
                      spellcheck="false"></textarea>
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-if="teststep.requestType === 'File'">
  <div class="form-group"></div> <!-- spacer -->
  <div class="form-group"></div> <!-- spacer -->
  <div class="form-group"></div> <!-- spacer -->
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-1">
      <button type="file" class="btn btn-info" ngf-select="uploadRequestFile($file)"
              ngf-max-size="30MB">Select File</button>
    </div>
    <div class="col-lg-1" ng-if="teststep.requestFilename">
      <button type="button" class="btn btn-info" ng-click="downloadRequestFile()">Download File</button>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-7" ng-if="teststep.requestFilename">
      <h5>{{teststep.requestFilename}}</h5>
    </div>
  </div>
</div>
