<div class="form-group"></div> <!-- spacer -->
<div class="form-group">
  <label for="queueManagerAddress" class="col-lg-2 control-label">Queue Manager Address</label>
  <div class="col-lg-7">
    <input type="text" name="queueManagerAddress" id="queueManagerAddress" class="form-control" readonly
           value="{{teststep.endpoint.otherProperties.host + ':' + teststep.endpoint.otherProperties.port + '/' +
             teststep.endpoint.otherProperties.queueManagerName}}">
  </div>
</div>
<div class="form-group">
  <label for="queueName" class="col-lg-2 control-label">Queue Name</label>
  <div class="col-lg-7">
    <input name="queueName" type="text" class="form-control" ng-change="autoSave(teststepForm.$valid)"
           ng-model="teststep.otherProperties.queueName" id="queueName" spellcheck="false">
  </div>
</div>
<div class="form-group">
  <label for="action" class="col-lg-2 control-label">Action</label>
  <div class="col-lg-6">
    <select name="action" id="action" class="form-control" ng-model="teststep.otherProperties.action"
            ng-change="actionChanged(teststepForm.$valid)">
      <option value="Clear">Clear</option>
      <option value="CheckDepth">Check Depth</option>
      <option value="Dequeue">Dequeue</option>
    </select>
  </div>
  <div class="col-lg-1">
    <button type="button" class="btn btn-info" ng-click="doAction()"
            ng-disabled="!teststep.otherProperties.queueName || !teststep.otherProperties.action ||
              testrun.status === 'ongoing'">Do</button>
  </div>
</div>

<div ng-if="teststep.otherProperties.action === 'CheckDepth'">
  <div class="form-group">
    <label for="queueDepthAssertionValue" class="col-lg-2 control-label">Assertion</label>
    <div class="col-lg-2"><h5>Queue depth equals</h5></div>
    <div class="col-lg-5">
      <input name="queueDepthAssertionValue" id="queueDepthAssertionValue" type="number" class="form-control"
             ng-model="teststep.assertions[0].otherProperties.number" ng-change="autoSave(teststepForm.$valid)">
    </div>
  </div>
</div>

<div ng-if="teststep.otherProperties.action === 'Dequeue'">
  <div class="form-group">
    <label class="col-lg-2 control-label">Assertion</label>
    <div class="col-lg-2"><h5>XML Equal</h5></div>
  </div>
</div>

<div ng-if="teststep.otherProperties.action === 'Clear' || teststep.otherProperties.action === 'CheckDepth'">
  <div class="form-group"></div> <!-- spacer -->
  <div class="form-group"></div> <!-- spacer -->
  <div class="form-group"></div> <!-- spacer -->
  <div class="form-group"></div> <!-- spacer -->
  <div class="form-group">
    <div class="col-lg-offset-4">
      <p ng-if="testrun.status === 'ongoing'">
        {{ teststep.otherProperties.action === 'Clear' ? 'Clearing queue ...' : '' }}</p>
      <p ng-if="testrun.status === 'finished'">
        {{ teststep.otherProperties.action === 'Clear' ? 'Queue cleared.' : '' }}</p>
      <p ng-if="testrun.status === 'ongoing'">
        {{ teststep.otherProperties.action === 'CheckDepth' ? 'Checking queue depth ...' : '' }}</p>
      <p ng-if="testrun.status === 'finished'">
        {{ teststep.otherProperties.action === 'CheckDepth' ? 'Queue depth is ' + testrun.response : '' }}</p>
    </div>
  </div>
</div>

<div ng-if="teststep.otherProperties.action === 'Dequeue'">
  <div class="form-group">
    <div class="col-lg-6">
      <textarea name="expectedXML" ng-model="teststep.assertions[0].otherProperties.expectedXML"
                ng-change="autoSave(teststepForm.$valid)" id="expectedXML" placeholder="Expected XML"
                class="form-control" rows="20" spellcheck="false"></textarea>
    </div>
    <div class="col-lg-6">
      <textarea name="actualXML" ng-model="testrun.response" id="actualXML"
                placeholder="{{ testrun.status === 'ongoing' ? '' : 'Actual XML' }}"
                ng-class="{ 'text-red' : testrun.noMoreMessage }"
                class="form-control" rows="20" spellcheck="false"></textarea>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-1 col-lg-1">
      <button type="button" class="btn btn-info" ng-click="verifyXMLEqualAssertion()"
              ng-disabled="!teststep.assertions[0].otherProperties.expectedXML || !testrun.actualXML">Verify</button>
    </div>
    <div class="col-lg-8">
      <textarea name="verificationResult" ng-model="testrun.differences" id="verificationResult"
                class="form-control" rows="5" spellcheck="false" readonly></textarea>
    </div>
  </div>
</div>