<div class="navbar-default sidebar" ng-controller="MockServerController" ng-init="findAllStubInstances()">
  <div class="stub-instances-pane">
    <h4 class="text-center">Loaded Stubs</h4>
    <ul class="list-unstyled">
      <li ng-repeat="stubInstance in stubInstances"
          ng-class="{ 'list-item-clicked' : $parent.selectedStubInstance.id === stubInstance.id }">
        <a ng-click="stubInstanceSelected(stubInstance)" href="">
          <!-- leave the div here to enable mouseover effect on the anchor when mouse is over anywhere outside the anchor but in the list item -->
          <div>{{ stubInstance.request.url }}</div>
        </a>
      </li>
    </ul>
  </div>
  <div>
    <h4 class="text-center">Requests for the Stub</h4>
    <ul class="list-unstyled">
      <li ng-repeat="stubRequest in stubRequests"
          ng-class="{ 'list-item-clicked' : $parent.selectedStubRequest.id === stubRequest.id }">
        <a ng-click="stubRequestSelected(stubRequest)" href="">
          <!-- leave the div here to enable mouseover effect on the anchor when mouse is over anywhere outside the anchor but in the list item -->
          <div>{{ stubRequest.request.loggedDate | date:'medium' }}</div>
        </a>
      </li>
    </ul>
  </div>
</div>