<div class="navbar-default sidebar" ng-controller="MockServerController" ng-init="findAllStubInstancesAndUnmatchedStubRequests()">
  <div class="stub-instances-pane">
    <h4 class="text-center">Loaded Stubs</h4>
    <ul class="list-unstyled">
      <li ng-repeat="stubInstance in stubInstances"
          ng-class="{ 'list-item-clicked' : $parent.selectedStubInstanceId === stubInstance.id }">
        <a ng-click="stubInstanceSelected(stubInstance.id)" href="">
          <!-- leave the div here to enable mouseover effect on the anchor when mouse is over anywhere outside the anchor but in the list item -->
          <div>{{ stubInstance.request.urlPattern ? stubInstance.request.urlPattern : stubInstance.request.url }}</div>
        </a>
      </li>
    </ul>
  </div>
  <div class="clear-request-log-button-pane">
    <div>
      <button class="btn btn-info" ng-click="clearRequestLog()" ng-disabled="appStatus.isForbidden()">Clear Request Log</button>
    </div>
  </div>
  <div class="matched-stub-requests-pane">
    <h4 class="text-center">Matched Requests for the Stub</h4>
    <ul class="list-unstyled">
      <li ng-repeat="stubRequest in matchedRequests"
          ng-class="{ 'list-item-clicked' : $parent.selectedMatchedStubRequestId === stubRequest.id }">
        <a ng-click="matchedStubRequestSelected(stubRequest.id)" href="">
          <!-- leave the div here to enable mouseover effect on the anchor when mouse is over anywhere outside the anchor but in the list item -->
          <div>{{ stubRequest.request.loggedDate | date: 'MMM d, y h:mm:ss.sss a' }}</div>
        </a>
      </li>
    </ul>
  </div>
  <div>
    <h4 class="text-center">Unmatched Requests</h4>
    <ul class="list-unstyled">
      <li ng-repeat="stubRequest in unmatchedRequests"
          ng-class="{ 'list-item-clicked' : $parent.selectedUnmatchedStubRequestId === stubRequest.id }">
        <a ng-click="unmatchedStubRequestSelected(stubRequest.id)" href="">
          <!-- leave the div here to enable mouseover effect on the anchor when mouse is over anywhere outside the anchor but in the list item -->
          <div>{{ stubRequest.request.loggedDate | date: 'MMM d, y h:mm:ss.sss a' }}</div>
        </a>
      </li>
    </ul>
  </div>
</div>