/* custom bootstrap class */
.page-header {
  padding-bottom: 8px;
  margin: 25px 0 13px;
  border-bottom: 1px solid #eee;
}

.page-header small {
    font-size: 55%;
    float: right;
}

.page-header .back-link {
    white-space: pre;
    float: right;
    font-size: 75%;
    font-weight: normal;
}

/* custom bootstrap class (for tabs) */
.nav>li>a {
  position: relative;
  display: block;
  padding: 7px 12px;
}

.successful-message {
    opacity: 0;
    color: green;
    font-size: 60%;
}

.failure-message {
    color: red;
    font-size: 60%;
}

.successful-message-animation {
    animation-name: successful-message-show, successful-message-hide;
    animation-duration: 2s, 2s;
    animation-timing-function: ease, ease;
    animation-delay: 0s, 2s;
}

@keyframes successful-message-show {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes successful-message-hide {
    from {opacity: 1;}
    to {opacity: 0;}
}

.testcase-grid {
    height: 500px;
}

.ws-uiview {
    height: 800px;
}

.spacer-top-40 {
    margin-top: 40px; /* define margin as you see fit */
}

.spacer-top-20 {
    margin-top: 20px; /* define margin as you see fit */
}

.spacer-bottom-0 {
    margin-bottom: 0px; /* define margin as you see fit */
}

.updated-date {
    padding-bottom: 0px;
    margin: 50px 0 20px;
}

.tab-top-spacer {
    height: 3px;
}

.full-height {
    height: 100%;
}

.full-height-important {
    height: 100% !important;
}

.assertions-area-content {
    width: 98%;
    margin-left: 15px;
    padding: 15px;
    border: 1px solid #ccc
}

.assertions-grid {
    height: 200px;
    margin-left: 15px;
    padding-left: 0px;
    padding-right: 0px;
}

.dbresponse-grid {
    height: 200px;
}

.no-bottom-margin {
    margin-bottom: 0px;
}

.no-left-margin {
    margin-left: 0px !important;
}