<div ng-controller="UsersController" ng-init="findOne()">
  <div class="row page-header" id="page-header">
    <div class="col-lg-7 page-header-part1">
      <h3><div>User - {{user.username}}</div></h3>
    </div>
    <div class="row page-header-part2">
      <div class="col-lg-2 text-center">
        <h4><label irt-successful-message></label></h4>
      </div>
      <div class="col-lg-1 text-left">
        <h4><a class="back-link" ui-sref="user_all">Back</a></h4>
      </div>
    </div>
  </div>
  <div class="row">
    <form name="userForm" class="form-horizontal col-lg-10" role="form" novalidate>
      <div class="form-group required" ng-class="{ 'has-error' : submitted && userForm.name.$invalid }">
        <label for="username" class="col-lg-2 control-label">Username</label>
        <div class="col-lg-10">
          <input name="username" type="text" class="form-control" ng-model="user.username" id="username"
                 ng-change="autoSave(userForm.$valid)" irt-select="{{ userNewlyCreated() }}" spellcheck="false" required>
          <div ng-show="submitted && userForm.username.$invalid" class="help-block">
            <p ng-show="userForm.username.$error.required">Username is required</p>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="password" class="col-lg-2 control-label">Password</label>
        <div class="col-lg-10">
          <input id="password" name="password" type="password" class="form-control" ng-model="user.password"
                 ng-change="autoSave(userForm.$valid)">
        </div>
      </div>
    </form>
  </div>
</div>