<div class="navbar-default sidebar" role="navigation">
  <div class="sidebar-nav navbar-collapse">
    <ul class="nav" id="side-menu">
      <li>
        <a href="#Administration"><i class="fa fa-wrench fa-fw"></i> Administration<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
              <a ui-sref="environment_all">Environments</a>
            </li>
            <li ng-if="appStatus.isInTeamMode() && appStatus.isAdminUser()">
              <a ui-sref="user_all">Users</a>
            </li>
        </ul>
      </li>
      <li>
        <a href=""><i class="fa fa-edit fa-fw"></i> Test Cases</a>
      </li>
    </ul>
    <div ng-controller="FolderTreeController">
      <div js-tree="treeConfig" ng-model="treeData" should-apply="true" tree="treeInstance"
           tree-events-obj="treeEventsObj" class="foldertree-pane" id="folder-tree"></div>
    </div>
  </div>
  <!-- /.sidebar-collapse -->
</div>

<!-- Load this sidebar init script after the sidebar html. This script can not be loaded in index.htm due to
     ng-include being slow and it is uncertain which one (sidebar html or sidebar init script) is loaded first. -->
<script src="/ui/lib/github-com-BlackrockDigital-startbootstrap-sb-admin-2/${startbootstrap-sb-admin-2.version}/dist/js/sb-admin-2.js"></script>
