<div class="form-group">
  <label for="endpointSOAPAddress" class="col-lg-2 control-label">SOAP Address</label>
  <div class="col-lg-10">
    <input id="endpointSOAPAddress" name="endpointSOAPAddress" type="text" class="form-control"
           ng-model="teststep.endpoint.url"
           ng-change="endpointSOAPAddressChanged(teststepForm.$valid)"
           ng-readonly="!isInShareEndpointMode() && teststep.endpoint.environment">
  </div>
</div>
<div class="form-group">
  <label for="endpointUsername" class="col-lg-2 control-label">Username</label>
  <div class="col-lg-10">
    <input id="endpointUsername" name="endpointUsername" type="text" class="form-control"
           ng-model="teststep.endpoint.username"
           ng-change="isInShareEndpointMode() ? angular.noop() : autoSave(teststepForm.$valid)"
           ng-readonly="!isInShareEndpointMode() && teststep.endpoint.environment">
  </div>
</div>
<div class="form-group">
  <label for="endpointPassword" class="col-lg-2 control-label">Password</label>
  <div class="col-lg-10">
    <input id="endpointPassword" name="endpointPassword" type="password" class="form-control"
           ng-model="teststep.endpoint.password"
           ng-change="isInShareEndpointMode() ? angular.noop() : autoSave(teststepForm.$valid)"
           ng-readonly="!isInShareEndpointMode() && teststep.endpoint.environment">
  </div>
</div>
<div class="form-group">
  <label for="endpointWSDLURL" class="col-lg-2 control-label">WSDL URL</label>
  <div class="col-lg-8">
    <input id="endpointWSDLURL" name="endpointWSDLURL" type="text" class="form-control"
           ng-model="teststep.endpoint.otherProperties.wsdlURL"
           ng-change="isInShareEndpointMode() ? angular.noop() : autoSave(teststepForm.$valid)"
           ng-readonly="teststep.endpoint.otherProperties.wsdlURLByConvention ||
             (!isInShareEndpointMode() && teststep.endpoint.environment)">
  </div>
  <div class="col-lg-2 checkbox">
    <label>
      <input type="checkbox" ng-model="teststep.endpoint.otherProperties.wsdlURLByConvention"
             ng-change="toggleWSDLURLByConvention(teststepForm.$valid)"
             ng-disabled="!isInShareEndpointMode() && teststep.endpoint.environment">By Convention
    </label>
  </div>
</div>