<div class="form-group form-group-reduced-bottom-margin"></div> <!-- smaller spacer -->
<div class="form-group form-group-reduced-bottom-margin">
  <label for="soapAddress" class="col-lg-2 control-label">SOAP Address</label>
  <div class="col-lg-6">
    <input name="soapAddress" type="text" class="form-control"
           ng-change="endpointSOAPAddressChanged(teststepForm.$valid)"
           ng-model="teststep.endpoint.url" id="soapAddress" spellcheck="false"
           ng-readonly="teststep.endpoint.environment">  <!-- readonly when it is a managed endpoint -->
  </div>
  <div class="col-lg-1">
    <button type="button" class="btn btn-info" ng-click="invoke()"
            ng-disabled="!teststep.request || !teststep.endpoint.url || steprun.status === 'ongoing'">Invoke</button>
  </div>
  <div class="col-lg-offset-2 col-lg-1 btn-group" uib-dropdown keyboard-nav>
    <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
      <i class="fa fa-list"></i> <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu">
      <li role="menuitem"><a ng-click="toggleHTTPHeadersArea()" href="">
        <i class="fa {{ showHTTPHeaders ? 'fa-check-square-o' : 'fa-square-o' }}"></i> Show HTTP Headers</a>
      </li>
      <li class="divider"></li>
      <li role="menuitem"><a ng-click="generateRequest()" href="">Generate Request</a></li>
    </ul>
  </div>
</div>
<div class="form-group form-group-reduced-bottom-margin" ng-if="showHTTPHeaders" id="httpHeadersArea">
  <div class="col-lg-6">
    <div ui-grid="requestHTTPHeaderGridOptions" ui-grid-resize-columns ui-grid-selection ui-grid-edit
         class="ui-grid http-header-grid"></div>
  </div>
  <div class="col-lg-6">
    <div ui-grid="responseHTTPHeaderGridOptions" ui-grid-resize-columns class="ui-grid http-header-grid"></div>
  </div>
  <div ng-init="httpHeadersAreaLoadedCallback()"></div>
</div>
<div class="form-group form-group-reduced-bottom-margin" height-adjustable-element-in-column="0.8">
  <div class="col-lg-6 full-height">
    <textarea name="request" ng-model="teststep.request" ng-change="autoSave(teststepForm.$valid)"
        id="request" placeholder="Request" class="form-control full-height-important" spellcheck="false"></textarea>
  </div>
  <div class="col-lg-6 full-height">
    <textarea name="response" ng-model="steprun.response" id="response" placeholder="Response"
        class="form-control full-height-important" spellcheck="false"></textarea>
  </div>
</div>
<div class="form-group form-group-reduced-bottom-margin" id="assertionsArea">
  <div class="col-lg-12 assertions-area-content" ng-if="showAssertionsArea"
      ng-include="'/ui/views/assertions/list-assertions.html'">
  </div>
</div>
<div class="form-group no-bottom-margin">
  <div class="col-lg-2">
    <button type="button" class="btn btn-info" ng-click="toggleAssertionsArea()">Assertions</button>
  </div>
</div>

<script type="text/ng-template" id="httpHeaderGridNameEditableCellTemplate.html">
  <div class="ui-grid-cell-contents">
    <input type="text" class="form-control" ui-grid-editor ng-model="row.entity.name"
           ng-change="grid.appScope.autoSave(true)" spellcheck="false">
  </div>
</script>
<script type="text/ng-template" id="httpHeaderGridValueEditableCellTemplate.html">
  <div class="ui-grid-cell-contents">
    <input type="text" class="form-control" ui-grid-editor ng-model="row.entity.value"
           ng-change="grid.appScope.autoSave(true)" spellcheck="false">
  </div>
</script>