<div ng-controller="DBTeststepCreationController" >
  <div class="row">
    <div>
      <h3 class="page-header">Create Database Test Step</h3>
    </div>
  </div>
  <div class="row">
    <form name="teststepForm" class="form-horizontal col-lg-9" role="form" ng-submit="create(teststepForm.$valid)" novalidate>
      <div class="form-group required" ng-class="{ 'has-error' : submitted && teststepForm.name.$invalid }">
        <label for="name" class="col-lg-2 control-label">Name</label>
        <div class="col-lg-10">
          <input name="name" type="text" class="form-control" ng-model="name" id="name"
              placeholder="Invoke and verify database" maxlength="200" required>
          <div ng-show="submitted && teststepForm.name.$invalid" class="help-block">
            <p ng-show="teststepForm.name.$error.required">Name is required</p>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="description" class="col-lg-2 control-label">Description</label>
        <div class="col-lg-10">
          <textarea name="description" ng-model="description" id="description" cols="30" rows="10"
              placeholder="Description" class="form-control"></textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-offset-6">
          <button type="submit" class="btn btn-info">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>