<div ng-controller="DBTeststepEditController" ng-init="findOne()">
  <div class="row" id="page-header">
    <div>
      <h3 class="page-header">Test Step - {{$parent.teststep.name}}
        <label class="col-lg-offset-1 failure-message"
               ng-show="savingStatus.saveSuccessful !== null && !savingStatus.saveSuccessful">
          Failed to save. {{savingStatus.savingErrorMessage}}
        </label>
        <label class="col-lg-offset-1" successful-message
               ng-class="{ 'successful-message-animation' : savingStatus.saveSuccessful }">
          Successfully saved
        </label>
        <small>Last edit at {{$parent.teststep.updated | date:'medium'}}</small>
        <label class="back-link"><a ui-sref="testcase_edit({testcaseId: $parent.teststep.testcaseId})">Back</a>                    </label>
      </h3>
    </div>
  </div>
  <form name="teststepForm" class="form-horizontal" role="form" novalidate>
    <tabset>
      <tab heading="Request Response">
        <div ng-include="'/ui/views/teststeps/db/edit-db-teststep-request-response.html'"></div>
      </tab>
      <tab heading="Basic Info">
        <div class="form-group"></div>
        <div class="form-group" ng-class="{ 'has-error' : savingStatus.submitted && teststepForm.name.$invalid }">
          <div class="col-lg-6">
            <label for="name" class="col-lg-2 control-label">Name</label>
            <div class="col-lg-10">
              <input name="name" type="text" class="form-control" ng-model="$parent.$parent.teststep.name"
                     ng-change="autoSave(teststepForm.$valid)" id="name" placeholder="Name" maxlength="200" required>
              <div ng-show="savingStatus.submitted && teststepForm.name.$invalid" class="help-block">
                <p ng-show="teststepForm.name.$error.required">Name is required</p>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-6">
            <label for="description" class="col-lg-2 control-label">Description</label>
            <div class="col-lg-10">
              <textarea name="description" ng-model="$parent.$parent.teststep.description" ng-change="autoSave(teststepForm.$valid)"
                        id="description" cols="30" rows="10" placeholder="Description" class="form-control"></textarea>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-6">
            <label for="intface" class="col-lg-2 control-label">Interface</label>
            <div class="col-lg-10">
              <input name="intface" type="text" class="form-control" ng-model="$parent.$parent.teststep.intface.name" id="intface" readonly>
            </div>
          </div>
        </div>
      </tab>
    </tabset>
  </form>
</div>