<div ng-controller="TestcasesController" ng-init="findOne()">
  <div class="row page-header" id="page-header">
    <div class="col-lg-7 page-header-part1">
      <h3><div>Test Case - {{testcase.name}}</div></h3>
    </div>
    <div class="col-lg-2 page-header-part2">
      <h4><label irt-successful-message></label></h4>
    </div>
  </div>
  <uib-tabset active="activeTabIndex">
    <uib-tab heading="Basic Info" select="storeTabIndex(BASIC_INFO_TAB_INDEX)">
      <form name="testcaseForm" class="form-horizontal col-lg-10" role="form" novalidate>
        <div class="form-group"></div> <!-- spacer -->
        <div class="form-group">
          <label for="description" class="col-lg-2 control-label">Description</label>
          <div class="col-lg-10">
            <textarea name="description" ng-model="testcase.description" ng-change="autoSave(testcaseForm.$valid)"
                      id="description" rows="30" placeholder="Description" class="form-control"
                      ng-readonly="appStatus.isForbidden()"></textarea>
          </div>
        </div>
      </form>
    </uib-tab>
    <uib-tab heading="Properties" select="storeTabIndex(PROPERTIES_TAB_INDEX)">
      <form name="udpsForm" class="form-horizontal col-lg-10" role="form" novalidate ng-controller="UDPsController"
            ng-init="findByTestcaseId()">
        <div class="form-group"></div> <!-- spacer -->
        <div class="row">
          <div class="form-group">
            <div class="col-lg-1">
              <button class="btn btn-info" ng-click="createUDP()" ng-disabled="appStatus.isForbidden()">Create</button>
            </div>
          </div>
        </div>
        <div class="row" id="udpGrid">
          <div ng-if="activeTabIndex === PROPERTIES_TAB_INDEX" ui-grid="udpGridOptions" ui-grid-resize-columns
               ui-grid-edit ui-grid-cellNav ui-grid-draggable-rows class="ui-grid testcase-udp-grid"></div>
        </div>
      </form>
    </uib-tab>
    <uib-tab heading="Test Steps" select="storeTabIndex(TEST_STEPS_TAB_INDEX)">
      <div class="form-group"></div> <!-- spacer -->
      <div class="row">
        <div class="form-group">
          <div class="btn-group col-lg-2" uib-dropdown keyboard-nav>
            <button type="button" class="btn btn-info dropdown-toggle" uib-dropdown-toggle
                    ng-disabled="appStatus.isForbidden()">
              Create <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu">
              <li role="menuitem"><a ng-click="createTeststep('SOAP')" href="">SOAP Step</a></li>
              <li role="menuitem"><a ng-click="createTeststep('DB')" href="">Database Step</a></li>
              <li role="menuitem"><a href="">HTTP Step (TBD)</a></li>
              <li role="menuitem">
                <a ng-click="createTeststep('MQ')" href="">MQ Step</a></li>
              <li role="menuitem">
                <a ng-click="createTeststep('IIB')" href="">IIB Step</a></li>
              <li role="menuitem"><a ng-click="createTeststep('Wait')" href="">Wait Step</a></li>
            </ul>
          </div>

          <div class="col-lg-1">
            <button class="btn btn-info" ng-click="run()"
                    ng-disabled="appStatus.isForbidden() || testcaseRunStatus === 'ongoing'">Run</button>
          </div>

          <!-- Test case run status message -->
          <div class="col-lg-offset-1 col-lg-2">
            <h5 ng-if="testcaseRunStatus === 'ongoing'">Running ...</h5>
            <a ng-if="testcaseRunStatus === 'finished'" ng-href="api/testcaseruns/{{testcaseRun.id}}/htmlreport"
               target='_blank'>
              <h4 ng-class="{ 'text-red' : testcaseRun.result === 'Failed',
                'text-lime' : testcaseRun.result === 'Passed' }">{{testcaseRun.result}}</h4>
            </a>
          </div>

          <!-- for preventing button row height change when running test case -->
          <div class="col-lg-1"><h4>&nbsp;</h4></div>

          <div class="col-lg-1 pull-right">
            <a ng-href="api/testcaseruns/lastrun/htmlreport?testcaseId={{testcase.id}}" target='_blank'>
              <h5>Last Run</h5>
            </a>
          </div>
        </div>
      </div>
      <div class="form-group"></div> <!-- spacer -->
      <div class="row" id="teststepGrid">
        <div ng-if="activeTabIndex === TEST_STEPS_TAB_INDEX" ui-grid="teststepGridOptions" ui-grid-resize-columns
             ui-grid-move-columns class="ui-grid teststep-grid" ui-grid-draggable-rows></div>
      </div>
      <div class="form-group"></div> <!-- spacer -->
      <div class="row selected-step-run-report-area" selected-step-run-report-area>
        <div class="col-lg-12" ng-bind-html="testcaseRun.selectedStepRunReport"></div>
      </div>
    </uib-tab>
    <uib-tab heading="Data Table" select="storeTabIndex(DATA_TABLE_TAB_INDEX)">
      <form name="dataTableForm" class="form-horizontal col-lg-12" role="form" novalidate
            ng-controller="DataTableController" ng-init="findByTestcaseId()">
        <div class="form-group"></div> <!-- spacer -->
        <div class="row">
          <div class="form-group">
            <div class="btn-group col-lg-2" uib-dropdown keyboard-nav>
              <button type="button" class="btn btn-info dropdown-toggle" uib-dropdown-toggle
                      ng-disabled="appStatus.isForbidden()">
                Add Column <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                <li role="menuitem"><a ng-click="addColumn('String')" href="">String Column</a></li>
                <li role="menuitem"><a ng-click="addColumn('DBEndpoint')" href="">DB Endpoint Column</a></li>
              </ul>
            </div>
            <div class="col-lg-2">
              <button class="btn btn-info" ng-click="addRow()" ng-disabled="appStatus.isForbidden()">Add Row</button>
            </div>
          </div>
        </div>
        <div class="row">
          <div ng-if="activeTabIndex === DATA_TABLE_TAB_INDEX && dataTable" ui-grid="dataTableGridOptions"
               ui-grid-resize-columns ui-grid-edit ui-grid-cellNav class="ui-grid testcase-datatable-grid"></div>
        </div>
      </form>
    </uib-tab>
  </uib-tabset>
</div>

<!-- UDP grid cell templates -->
<script type="text/ng-template" id="udpGridNameEditableCellTemplate.html">
  <div class="ui-grid-cell-contents">
    <input type="text" class="form-control" ui-grid-editor ng-model="MODEL_COL_FIELD" spellcheck="false"
           ng-readonly="grid.appScope.appStatus.isForbidden()">
  </div>
</script>
<script type="text/ng-template" id="udpGridValueEditableCellTemplate.html">
  <div class="ui-grid-cell-contents" ng-dblclick="grid.appScope.valueCellDblClicked(row.entity)">
    <textarea class="form-control udp-grid-value-editable-cell-textarea" ui-grid-editor ng-model="MODEL_COL_FIELD"
              spellcheck="false" ng-readonly="grid.appScope.appStatus.isForbidden()"></textarea>
  </div>
</script>
<script type="text/ng-template" id="udpGridDeleteCellTemplate.html">
  <div class="ui-grid-cell-contents">
    <a ng-click="grid.appScope.appStatus.isForbidden() ? angular.noop() : grid.appScope.removeUDP(row.entity)"
       ng-class="{'no-underline' : grid.appScope.appStatus.isForbidden()}" href="">
      <i class="glyphicon glyphicon-trash center-block text-center"></i>
    </a>
  </div>
</script>

<!-- teststep grid cell templates -->
<script type="text/ng-template" id="teststepGridSequenceCellTemplate.html">
  <div class="ui-grid-cell-contents text-center">{{COL_FIELD}}</div>
</script>
<script type="text/ng-template" id="teststepGridNameCellTemplate.html">
  <div class="ui-grid-cell-contents">
    <a ui-sref="teststep_edit({ testcaseId: row.entity.testcaseId, teststepId: row.entity.id })">{{COL_FIELD}}</a>
  </div>
</script>
<script type="text/ng-template" id="teststepGridDeleteCellTemplate.html">
  <div class="ui-grid-cell-contents">
    <a ng-click="grid.appScope.appStatus.isForbidden() ? angular.noop() : grid.appScope.removeTeststep(row.entity)"
       ng-class="{'no-underline' : grid.appScope.appStatus.isForbidden()}" href="">
      <i class="glyphicon glyphicon-trash center-block text-center"></i>
    </a>
  </div>
</script>
<script type="text/ng-template" id="teststepGridResultCellTemplate.html">
  <div class="ui-grid-cell-contents">
    <div ng-if="grid.appScope.testcaseRun">
      <a ng-click="grid.appScope.showStepRunHTMLReport(grid.appScope.getTeststepRun(row.entity.id).id)" href="">
        <div ng-class="{ 'text-red' : grid.appScope.getTeststepRun(row.entity.id).result === 'Failed',
                'text-lime' : grid.appScope.getTeststepRun(row.entity.id).result === 'Passed' }">
          {{ grid.appScope.getTeststepRun(row.entity.id).result }}
        </div>
      </a>
    </div>
  </div>
</script>

<!-- data table grid cell templates -->
<script type="text/ng-template" id="dataTableGridEditableHeaderCellTemplate.html">
  <div class="ui-grid-cell-contents">
    <input type="text" class="form-control" ng-model="col.name" irt-select="true"
           ng-keypress="$event.keyCode === 13 ? grid.appScope.afterColumnNameEdit(col) : angular.noop()"
           ng-keydown="$event.keyCode === 27 ? grid.appScope.afterColumnNameEdit(col) : angular.noop()"
           ng-blur="grid.appScope.afterColumnNameEdit(col)">
  </div>
</script>
<script type="text/ng-template" id="dataTableGridStringEditableCellTemplate.html">
  <div class="ui-grid-cell-contents" ng-dblclick="grid.appScope.stringCellDblClicked(row.entity, col)">
    <textarea class="form-control udp-grid-string-editable-cell-textarea" ui-grid-editor ng-model="MODEL_COL_FIELD"
              spellcheck="false" ng-readonly="grid.appScope.appStatus.isForbidden()"></textarea>
  </div>
</script>
<script type="text/ng-template" id="dataTableGridEndpointCellTemplate.html">
  <div class="ui-grid-cell-contents" ng-if="COL_FIELD">{{COL_FIELD.environment.name}}#{{COL_FIELD.name}}</div>
</script>