<div class="form-group"></div> <!-- spacer -->
<div class="form-group required" ng-class="{ 'has-error' : savingStatus.submitted && teststepForm.milliseconds.$invalid }">
  <label for="milliseconds" class="col-lg-2 control-label">Milliseconds</label>
  <div class="col-lg-7">
    <input name="milliseconds" id="milliseconds" type="text" class="form-control" required
           ng-model="teststep.otherProperties.milliseconds" ng-change="autoSave(teststepForm.$valid)"
           ng-readonly="appStatus.isForbidden()">
    <div ng-show="savingStatus.submitted && teststepForm.milliseconds.$invalid" class="help-block">
      <p ng-show="teststepForm.milliseconds.$error.required">Milliseconds is required</p>
    </div>
  </div>
</div>