<div ng-controller="EnvironmentsController" data-ng-init="findOne()">
    <div class="row">
        <h3 class="page-header">Environment Detail</h3>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-md-2" ng-show="context && context.url">
                <button type="button" class="btn btn-info btn-block" ng-click="return()">Return</button>
            </div>
            <div class="col-md-2" ng-show="context && context.expect && environment.id">
                <button type="button" class="btn btn-info btn-block" ng-click="select()">Select</button>
            </div>
        </div>
    </div>
    <form name="environmentForm" class="form-horizontal col-md-10" ng-submit="create_update(environmentForm)">
        <p><medium ng-show="environment.updated">Last updated at {{environment.updated | date:'dd-MM-yyyy HH:mm:ss'}}</medium>
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
        <tabset justified="true">
            <tab heading="Basic Info">
                <div sf-schema="schema" sf-form="form" sf-model="environment" ></div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-default btn-block" ui-sref="environment_all">Back</button>
                </div>
                <div class="col-md-offset-2 col-md-2">
                    <button type="submit" class="btn btn-success btn-block">Save</button>
                </div>
                <div class="col-md-offset-2 col-md-2">
                    <button type="button" class="btn btn-warning btn-block" ng-click="remove(environment)">Delete</button>
                </div>
            </tab>
            <tab heading="Interfaces">
                <div class="row">
                    <div class="col-md-2">
                        <p><button class="btn btn-primary btn-block" ui-sref="enventry_create({environmentId: environment.id})">Create</button></p>
                    </div>
                </div>
                <div class="row">
                    <div ui-grid="{paginationPageSizes: [10,20,50,100], paginationPageSize: 10, enableFiltering: true, data: enventries, columnDefs: columnDefs}"
                         ui-grid-pagination ui-grid-resize-columns ui-grid-move-columns class="ui-grid"></div>
                </div>
            </tab>
        </tabset>
    </form>
    <script type="text/ng-template" id="gridCellTemplate.html">
        <div class="ui-grid-cell-contents">
            <div><a ui-sref="enventry_edit({ enventryId: row.entity.id })">{{COL_FIELD}}</a></div>
        </div>
    </script>
</div>
