<div ng-controller="EnvironmentsController" data-ng-init="findOne()">
    <div class="row">
        <h3 class="page-header col-md-8">Environment - {{environment.name}}</h3>
        <div class="col-md-1" ng-show="context && context.url">
            <button type="button" class="btn btn-info" ng-click="return()">Return</button>
        </div>
        <div class="col-md-1" ng-show="context && context.expect && environment.id">
            <button type="button" class="btn btn-info" ng-click="select()">Select</button>
        </div>
    </div>
    <form name="environmentForm" class="form-horizontal col-md-10" ng-submit="create_update(environmentForm)">
        <p><medium ng-show="environment.updated">Last updated at {{environment.updated | date:'dd-MM-yyyy HH:mm:ss'}}</medium></p>
        <div class="row">
            <div class="col-md-offset-4 col-md-2">
                <button type="submit" class="btn btn-success btn-block">Save</button>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-warning btn-block" ng-click="remove(environment)">Delete</button>
            </div>
        </div>
        <p></p>
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
        <tabset>
            <tab heading="Basic Info">
                <p></p>
                <div sf-schema="schema" sf-form="form" sf-model="environment" ></div>
            </tab>
            <tab ng-if="environment.id" heading="Interfaces">
                <p></p>
                <div class="row">
                    <div class="col-md-2">
                        <button class="btn btn-primary btn-block" ng-click="goto('intface_all', null, 'intfaces')">Add Interfaces</button>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-primary btn-block" ng-click="removeIntfaces()">Remove Interfaces</button>
                    </div>
                </div>
                <p></p>
                <div class="row">
                    <div ui-grid="{paginationPageSizes: [10,20,50,100], paginationPageSize: 10, enableFiltering: true, data: environment.entries, columnDefs: enventryGridColumnDefs}"
                         ui-grid-pagination ui-grid-resize-columns ui-grid-move-columns class="ui-grid"></div>
                </div>
            </tab>
        </tabset>
    </form>
    <script type="text/ng-template" id="gridCellTemplate.html">
        <div class="ui-grid-cell-contents">
            <div><a ui-sref="enventry_edit({ enventryId: row.entity.id })">{{COL_FIELD}}</a></div>
        </div>
    </script>
</div>
