<div ng-controller="EnvEntriesController" data-ng-init="findOne()">
    <div class="row">
        <div class="col-md-6">
            <h3 class="page-header">Environment Entry</h3>
        </div>
        <div ng-show="enventry.updated" class="updated-date">
            <label class="control-label">Last updated at {{enventry.updated | date:'dd-MM-yyyy HH:mm:ss'}}</label>
        </div>
    </div>
    <div class="row">
        <form name="enventryForm" class="form-horizontal schema-form-text" ng-submit="create_update(enventryForm)">
            <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
            <div class="form-group col-md-12 spacer-bottom-0">
                <label class="control-label{ text-align: left } col-md-2">Environment Name</label>
                <div sf-schema="schema" sf-form="form.environmentname" sf-model="enventry" class="col-md-10"></div>
            </div>
            <div class="form-group col-md-12">
                <label class="control-label{ text-align: left } col-md-2">Environment Description</label>
                <div sf-schema="schema" sf-form="form.environmentdesc" sf-model="enventry" class="col-md-10"></div>
            </div>
            <div class="form-group col-md-12 spacer-bottom-0">
                <label class="control-label{ text-align: left } col-md-2">Interface Name</label>
                <div sf-schema="schema" sf-form="form.interfacename" sf-model="enventry" class="col-md-9"></div>
                <div class="btn-group" dropdown>
                    <button type="button" class="btn btn-info" dropdown-toggle>
                        Go to <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-show="enventry.intfaceId"><a style="cursor: pointer" ng-click="goto('intface_edit', {intfaceId: enventry.intfaceId})">Interface Details</a></li>
                        <li><a style="cursor: pointer" ng-click="goto('intface_all', null, 'intface')">Interface List</a></li>
                        <li><a style="cursor: pointer" ng-click="goto('intface_create', null, 'intface')">A New Interface</a></li>
                    </ul>
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="control-label{ text-align: left } col-md-2">Interface Description</label>
                <div sf-schema="schema" sf-form="form.interfacedesc" sf-model="enventry" class="col-md-10"></div>
            </div>
            <div class="form-group col-md-12 spacer-bottom-0">
                <label class="control-label{ text-align: left } col-md-2">Endpoint Name</label>
                <div sf-schema="schema" sf-form="form.endpointname" sf-model="enventry" class="col-md-9"></div>
                <div class="btn-group" dropdown>
                    <button type="button" class="btn btn-info" dropdown-toggle>
                        Go to <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-show="enventry.endpointId"><a style="cursor: pointer" ng-click="goto('endpoint_edit', {endpointId: enventry.endpointId})">Endpoint Details</a></li>
                        <li><a style="cursor: pointer" ng-click="goto('endpoint_all', null, 'endpoint')">Endpoint List</a></li>
                        <li><a style="cursor: pointer" ng-click="goto('endpoint_create', null, 'endpoint')">A New Endpoint</a></li>
                    </ul>
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="control-label{ text-align: left } col-md-2">Endpoint Description</label>
                <div sf-schema="schema" sf-form="form.endpointdesc" sf-model="enventry" class="col-md-10"></div>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-default btn-block" ui-sref="environment_edit({environmentId: enventry.environmentId})">Back</button>
            </div>
            <div class="col-md-offset-2 col-md-2">
                <button type="submit" class="btn btn-success btn-block">Save</button>
            </div>
            <div class="col-md-offset-2 col-md-2">
                <button type="button" class="btn btn-warning btn-block" ng-click="remove(enventry)">Delete</button>
            </div>
        </form>
    </div>
</div>