<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()">&times;</button>
</div>
<div class="modal-body">
  <form name="passwordForm" class="form-horizontal" role="form">
    <div class="form-group">
      <label for="newPassword" class="col-lg-4 control-label">New Password</label>
      <div class="col-lg-8">
        <input id="newPassword" name="newPassword" type="password" class="form-control" ng-model="newPassword">
      </div>
    </div>
    <div class="form-group">
      <label for="confirmNewPassword" class="col-lg-4 control-label">Confirm New Password</label>
      <div class="col-lg-8">
        <input id="confirmNewPassword" name="confirmNewPassword" type="password" class="form-control"
               ng-model="confirmNewPassword">
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-info" type="button" ng-click="ok()"
          ng-disabled="!newPassword || confirmNewPassword !== newPassword">Update Password</button>
</div>