<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div ng-controller="ArticlesController" data-ng-init="findOne()">
                <form name="articleForm" class="col-lg-10" ng-submit="create_update(articleForm)">
                    <h1 class="page-header">Article Detail</h1>
                    <div sf-schema="schema" sf-form="form" sf-model="article" ></div>
                    <div class="col-lg-offset-2 col-lg-2">
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                    <div class="col-lg-offset-4 col-lg-2">
                        <button type="button" class="btn btn-warning" ng-click="remove(article)">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
