<div ng-controller="EnvironmentsController" ng-init="findOne()">
  <div class="row">
    <h3 class="page-header">Environment - {{environment.name}}
      <label class="col-lg-offset-1" irt-successful-message></label>
      <small>Last edit at {{environment.updated | date:'medium'}}</small>
      <label class="back-link"><a ui-sref="environment_all">Back</a>                    </label>
    </h3>
  </div>
  <uib-tabset active="activeTabIndex">
    <uib-tab heading="Basic Info">
      <form name="environmentForm" class="form-horizontal col-lg-9" role="form" novalidate>
        <div class="form-group"></div> <!-- spacer -->
        <div class="form-group required" ng-class="{ 'has-error' : submitted && environmentForm.name.$invalid }">
          <label for="name" class="col-lg-2 control-label">Name</label>
          <div class="col-lg-10">
            <input name="name" type="text" class="form-control" ng-model="environment.name"
                   irt-select="{{ activeTabIndex === 0 && environmentNewlyCreated() }}"
                   ng-change="autoSave(environmentForm.$valid)" id="name" placeholder="Name" maxlength="200" required>
            <div ng-show="submitted && environmentForm.name.$invalid" class="help-block">
              <p ng-show="environmentForm.name.$error.required">Name is required</p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="description" class="col-lg-2 control-label">Description</label>
          <div class="col-lg-10">
            <textarea name="description" ng-model="environment.description" ng-change="autoSave(environmentForm.$valid)"
                      id="description" cols="30" rows="10" placeholder="Description" class="form-control"></textarea>
          </div>
        </div>
      </form>
    </uib-tab>
    <uib-tab heading="Endpoints">
      <div class="form-group"></div> <!-- spacer -->
      <div class="row">
        <div class="btn-group col-lg-2" uib-dropdown keyboard-nav>
          <button type="button" class="btn btn-info dropdown-toggle" uib-dropdown-toggle ng-disabled="disabled">
            Create <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu">
            <li role="menuitem"><a ng-click="createEndpoint('SOAP')" href="">SOAP Endpoint</a></li>
            <li role="menuitem"><a ng-click="createEndpoint('DB')" href="">Database Endpoint</a></li>
            <li role="menuitem"><a href="">HTTP Endpoint (TBD)</a></li>
            <li role="menuitem" ng-if="${mqiib.enabled}">
              <a ng-click="createEndpoint('MQ/IIB')" href="">MQ/IIB Endpoint</a></li>
          </ul>
        </div>
      </div>
      <div class="form-group"></div> <!-- spacer -->
      <div class="row">
        <div ng-if="activeTabIndex === 1" ui-grid="{paginationPageSizes: [10,20,50,100], paginationPageSize: 10,
               enableFiltering: true, data: environment.endpoints, columnDefs: endpointGridColumnDefs}"
             ui-grid-pagination ui-grid-resize-columns ui-grid-move-columns class="ui-grid"></div>
      </div>
    </uib-tab>
  </uib-tabset>

  <script type="text/ng-template" id="endpointGridNameCellTemplate.html">
    <div class="ui-grid-cell-contents">
      <div>
        <a ui-sref="endpoint_edit({ environmentId: row.entity.environment.id, endpointId: row.entity.id })">{{COL_FIELD}}</a>
      </div>
    </div>
  </script>
  <script type="text/ng-template" id="endpointGridDeleteCellTemplate.html">
    <div class="ui-grid-cell-contents">
      <div>
        <a ng-click="grid.appScope.removeEndpoint(row.entity)" href="">
          <i class="glyphicon glyphicon-trash center-block text-center"></i>
        </a>
      </div>
    </div>
  </script>
</div>