<div ng-controller="EnvironmentsController" ng-init="find()">
  <div class="row page-header" id="page-header">
    <div class="col-lg-7 page-header-part1">
      <h3><div>Environments</div></h3>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2">
      <p><button class="btn btn-info btn-block" ng-click="create()"
                 ng-disabled="appStatus.isForbidden()">Create</button></p>
    </div>
  </div>
  <div class="row">
    <div ui-grid="{enableFiltering: true, data: environments, columnDefs: envGridColumnDefs}"
         ui-grid-resize-columns ui-grid-move-columns class="ui-grid environment-grid"></div>
  </div>

  <script type="text/ng-template" id="envGridNameCellTemplate.html">
    <div class="ui-grid-cell-contents">
      <a ui-sref="environment_edit({ environmentId: row.entity.id })">{{COL_FIELD}}</a>
    </div>
  </script>
  <script type="text/ng-template" id="envGridDeleteCellTemplate.html">
    <div class="ui-grid-cell-contents">
      <a ng-click="grid.appScope.appStatus.isForbidden() ? angular.noop() : grid.appScope.remove(row.entity)"
         ng-class="{'no-underline' : grid.appScope.appStatus.isForbidden()}" href="">
        <i class="glyphicon glyphicon-trash center-block text-center"></i>
      </a>
    </div>
  </script>
</div>