/* body {
   There are some flaws when zoom < 100%.
       1. jstree. Moving node becomes nearly impossible. Haven't found a workaround. This is unacceptable.
       2. jstree. Though bars and icons blurring have been offset, the final images look not the same smooth as when
                 they are with zoom = 100%.
       3. ui-grid. When dragging column resizer, the cursor is not aligned with the long vertical line.

  zoom: 97%;
}*/

/* custom ui grid classes to address issue https://github.com/angular-ui/ui-grid/issues/4944 when zoom < 100% */
/*.ui-grid-header-cell {
  float: left;
}*/
/* This is to address the further issue introduced by the custom ui-grid-header-cell class for zooming,
   offsetting the shortened right border of Delete column headers when there are filters in other column headers. */
/*.ui-grid-column-resizer {
  height: 60px;
}*/

/* classes from AngularJS for ngCloak directive */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* custom bootstrap classes (for page-header) */
.page-header {
  padding-bottom: 0px;
  margin: 0px -15px 8px -15px;
  border-bottom: 1px solid #eee;
}
.page-header div {
  padding: 0px 0px 0px 0px;
}
.page-header-part1 h3 {
  margin-top: 15px;
}
.page-header-part1 div {
  font-size: 95%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.page-header-part2 h4 {
  margin: 20px 0px 0px 0px;
}
.page-header .back-link {
  font-size: 104%;
}

/* custom style for ui bootstrap tabs */
.uib-tab a {
  padding: 7px 12px !important;
}

/* custom style for ui bootstrap accordion */
#testcase-run-result-outline-area .panel-group .panel {
  margin-top: 5px;
}
#testcase-run-result-outline-area .panel-heading {
  padding: 5px 7px;
}
#testcase-run-result-outline-area .panel-body {
  padding-top: 8px;
  padding-bottom: 3px;    /* plus margin-bottom of '.panel-default h5' should be same as padding-top */
  padding-left: 15px;
  padding-right: 15px;
}
#testcase-run-result-outline-area .panel-group .list-unstyled {
  margin-bottom: 0px;
}
#testcase-run-result-outline-area .panel-default h5 {
  margin-top: 0px;
  margin-bottom: 5px;
}

/* custom jsTree contextmenu class */
.vakata-context {
  z-index: 1000;        /* avoid the tree context menu being partially hidden */
}
/* These two classes are to offset icons and bars blurring introduced by zoom < 100%. */
/*.jstree-themeicon {
  image-rendering: pixelated;
}*/
/*.jstree-ocl {
  transform: scale(1.0311);     a tiny bit bigger than 97 / 100
  image-rendering: pixelated;
}*/

/* custom sb admin 2 classes */
.sidebar {
  width: 25%;
}
#page-wrapper {
  margin: 0 0 0 25%;
}

.successful-message {
  opacity: 0;
  color: green;
  font-size: 85%;
}

.successful-message-animation {
  animation-name: successful-message-show, successful-message-hide;
  animation-duration: 2s, 2s;
  animation-timing-function: ease, ease;
  animation-delay: 0s, 2s;
}

@keyframes successful-message-show {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes successful-message-hide {
  from {opacity: 1;}
  to {opacity: 0;}
}

/* grids */
#testcase-udp-grid, #teststep-grid, #testcase-datatable-grid {
  height: 600px;
  margin-top: 10px;
  margin-left: -15px;
  margin-right: -15px;
}
.environment-grid, .user-grid, .endpoint-grid {
  height: 500px;
}
.select-managed-endpoint-modal-grid {
  height: 600px;
}
.assertions-grid {
  height: 200px;
  margin-left: 15px;
  padding-left: 0px;
  padding-right: 0px;
}
.db-teststep-assertions-grid {
  height: 172px;
  margin-left: 15px;
  padding-left: 0px;
  padding-right: 0px;
}
.db-query-result-set-grid {
  height: 200px;
}
.http-header-grid {
  height: 160px;
}
.http-header-grid .ui-grid-menu-button {
  height: 20px;
}
.http-header-grid .ui-grid-cell-contents {
  padding-top: 0px;
  padding-bottom: 0px;
}
.xpath-assertion-namespace-prefixes-grid {
  height: 92px;
}
.xpath-assertion-namespace-prefixes-grid .ui-grid-cell-contents {
  padding-top: 0px;
  padding-bottom: 0px;
}
.xpath-assertion-namespace-prefixes-grid .ui-grid-menu-button {
  height: 20px;
}
.udp-grid-value-editable-cell-textarea, .udp-grid-string-editable-cell-textarea {
  overflow: hidden;
  resize: none;
  height: 23px !important;
}
.testcase-datatable-grid .ui-grid-header-cell .ui-grid-cell-contents input {
  padding: 0px;
  height: auto;
}

.ws-uiview {
  height: 900px;
}

.full-height {
  height: 100%;
}

.full-height-important {
  height: 100% !important;
}

.assertions-area-content {
  width: 98%;
  margin-left: 15px;
  padding: 10px;
  border: 1px solid #ccc
}

.mq-teststep-assertions-area-content {
  width: 81.2%;
  margin-left: 15px;
  padding: 10px;
  border: 1px solid #ccc
}

.no-bottom-margin {
  margin-bottom: 0px;
}

.no-left-margin {
  margin-left: 0px !important;
}

.no-right-margin {
  margin-right: 0px !important;
}

.no-left-padding {
  padding-left: 0px;
}

.no-right-padding {
  padding-right: 0px;
}

.form-group-reduced-bottom-margin {
  margin-bottom: 10px;
}

.background-color-inherit {
  background-color: inherit !important;
}

.text-red {
  color: red;
}

.text-lime {
  color: lime;
}

.background-red {
  background-color: red;
}

.background-green {
  background-color: lime;
}

/* modals */
.error-message-modal, .select-soap-operation-modal, .login-modal, .create-user-modal, .change-password-modal {
  top: 20%;
}
.select-managed-endpoint-modal {
  top: 10%;
}
.teststep-run-report-modal .modal-dialog {
  width: 65%;
}
.teststep-run-report-modal .modal-content {
  height: 700px;
  overflow-y: auto;
}
.udp-value-textarea-editor-modal, .datatable-string-cell-textarea-editor-modal, .teststep-run-report-modal {
  top: 8%;
}
.udp-value-textarea-editor-modal .modal-dialog, .datatable-string-cell-textarea-editor-modal .modal-dialog {
  width: 60%;
}

.required .control-label:after {
  content:"*";
  color:red;
}

#testcase-run-result-outline-area {
  overflow-y: auto;
}

.foldertree-pane {
  height: 800px;
  overflow: auto;
}

.foldertree-pane ul li {
  border-bottom: 0px;     /* counter '.sidebar ul li' in the sb-admin-2.css */
}

.no-underline {
  text-decoration: none !important;
}

.divider-left {
  float: left;
  width: 30%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.divider-right {
  float: right;
  width: 30%;
  margin-top: 10px;
  margin-bottom: 10px;
}