.test-result-color-Passed {
  color: lime;
}

.test-result-color-Failed {
  color: red;
}

/* used to wrap long unspaced word such as base64 encoding of file contents */
.word-wrap {
  word-wrap: break-word;
}