/* custom sb admin 2 classes */
.sidebar {
  width: 25%;
  height: 100%;
  margin-top: 0px;
}
.sidebar ul li {
  border-bottom: none;
  padding-top: 5px;
  padding-bottom: 5px;
}
#page-wrapper {
  margin: 0 0 0 25%;
}
#page-header {
  margin: 0 0 20px 0;
}

.stub-instances-pane {
  border-bottom: 1px solid #e7e7e7;
}

.stub-instances-pane, .matched-stub-requests-pane {
  padding-top: 15px;
  padding-left: 15px;
  overflow: auto;
}

.clear-request-log-button-pane {
  padding-top: 10px;
  height: 34px;
}

.stub-instances-pane {
  height: 25%
}

.matched-stub-requests-pane {
  height: 40%;
}

.sidebar .list-item-clicked {
  background: #beebff;
  border-radius: 2px;
  box-shadow: inset 0 0 1px #999;
}
