<div class="form-group"></div> <!-- spacer -->
<div class="form-group">
  <label for="integrationNodeAddress" class="col-lg-2 control-label">Broker Address</label>
  <div class="col-lg-7">
    <input type="text" name="integrationNodeAddress" id="integrationNodeAddress" class="form-control" readonly
           value="{{teststep.endpoint.otherProperties.host + ':' + teststep.endpoint.otherProperties.port + '/' +
             teststep.endpoint.otherProperties.queueManagerName + '/' +
             teststep.endpoint.otherProperties.svrConnChannelName}}">
  </div>
</div>
<div class="form-group">
  <label for="integrationServerName" class="col-lg-2 control-label">Execution Group</label>
  <div class="col-lg-7">
    <input name="integrationServerName" type="text" class="form-control" ng-change="autoSave(teststepForm.$valid)"
           ng-model="teststep.otherProperties.integrationServerName" id="integrationServerName" spellcheck="false">
  </div>
</div>
<div class="form-group">
  <label for="messageFlowName" class="col-lg-2 control-label">Message Flow</label>
  <div class="col-lg-7">
    <input name="messageFlowName" type="text" class="form-control" ng-change="autoSave(teststepForm.$valid)"
           ng-model="teststep.otherProperties.messageFlowName" id="messageFlowName" spellcheck="false">
  </div>
</div>
<div class="form-group">
  <label for="action" class="col-lg-2 control-label">Action</label>
  <div class="col-lg-6">
    <select name="action" id="action" class="form-control" ng-model="teststep.otherProperties.action"
            ng-change="autoSave(teststepForm.$valid)">
      <option value="Start">Start</option>
      <option value="Stop">Stop</option>
    </select>
  </div>
  <div class="col-lg-1">
    <button type="button" class="btn btn-info" ng-click="doAction()"
            ng-disabled="!teststep.otherProperties.integrationServerName || !teststep.otherProperties.messageFlowName ||
            !teststep.otherProperties.action || actionStatus === 'ongoing'">Do</button>
  </div>
</div>
<div class="form-group"></div> <!-- spacer -->
<div class="form-group"></div> <!-- spacer -->
<div class="form-group"></div> <!-- spacer -->
<div class="form-group"></div> <!-- spacer -->
<div class="form-group">
  <div class="col-lg-offset-4">
    <p ng-if="actionStatus === 'ongoing'">
      {{ action === 'Start' ? 'Starting' : 'Stopping' }} message flow ...</p>
    <p ng-if="actionStatus === 'finished'">
      Message flow {{ action === 'Start' ? 'started' : 'stopped' }}.</p>
  </div>
</div>