<div class="form-group">
  <label for="endpointQueueManagerName" class="col-lg-2 control-label">Queue Manager Name</label>
  <div class="col-lg-10">
    <input name="endpointQueueManagerName" type="text" class="form-control"
           ng-model="teststep.endpoint.queueManagerName"
           ng-change="isInShareEndpointMode() ? angular.noop() : autoSave(teststepForm.$valid)"
           id="endpointQueueManagerName" maxlength="100"
           ng-readonly="!isInShareEndpointMode() && teststep.endpoint.environment">
  </div>
</div>
<div class="form-group">
  <label for="endpointHost" class="col-lg-2 control-label">Host</label>
  <div class="col-lg-10">
    <input name="endpointHost" type="text" class="form-control" ng-model="teststep.endpoint.host"
           ng-change="isInShareEndpointMode() ? angular.noop() : autoSave(teststepForm.$valid)"
           id="endpointHost" maxlength="200" ng-readonly="!isInShareEndpointMode() && teststep.endpoint.environment">
  </div>
</div>
<div class="form-group" ng-class="{ 'has-error' : savingStatus.submitted && teststepForm.endpointPort.$invalid }">
  <label for="endpointPort" class="col-lg-2 control-label">Port</label>
  <div class="col-lg-10">
    <input name="endpointPort" type="number" class="form-control" ng-model="teststep.endpoint.port"
           ng-change="isInShareEndpointMode() ? angular.noop() : autoSave(teststepForm.$valid)"
           id="endpointPort" min="1" max="65535"
           ng-readonly="!isInShareEndpointMode() && teststep.endpoint.environment">
    <div ng-show="savingStatus.submitted && teststepForm.endpointPort.$invalid" class="help-block">
      <p ng-show="teststepForm.endpointPort.$error.number">Port must be a number</p>
      <p ng-show="teststepForm.endpointPort.$error.max">Port can not be greater than 65535</p>
      <p ng-show="teststepForm.endpointPort.$error.min">Port can not be less than 1</p>
    </div>
  </div>
</div>
<div class="form-group">
  <label for="endpointSvrConnChannelName" class="col-lg-2 control-label">SVRCONN Channel Name</label>
  <div class="col-lg-10">
    <input name="endpointSvrConnChannelName" type="text" class="form-control"
           ng-model="teststep.endpoint.svrConnChannelName"
           ng-change="isInShareEndpointMode() ? angular.noop() : autoSave(teststepForm.$valid)"
           id="endpointSvrConnChannelName" maxlength="200"
           ng-readonly="!isInShareEndpointMode() && teststep.endpoint.environment">
  </div>
</div>